<!DOCTYPE html>

<title>Employe index</title>

{% block body %}
    <h1>Employe index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreerPar</th>
                <th>CreerLe</th>
                <th>ModifierPar</th>
                <th>ModifierLe</th>
                <th>Enable</th>
                <th>SupprimerPar</th>
                <th>SupprimerLe</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Age</th>
                <th>Sexe</th>
                <th>Telephone</th>
                <th>Adresse</th>
                <th>Email</th>
                <th>MotDePasse</th>
                <th>Roles</th>
                <th>Fonction</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employe in employes %}
            <tr>
                <td>{{ employe.id }}</td>
                <td>{{ employe.CreerPar }}</td>
                <td>{{ employe.CreerLe ? employe.CreerLe|date('Y-m-d') : '' }}</td>
                <td>{{ employe.ModifierPar }}</td>
                <td>{{ employe.ModifierLe ? employe.ModifierLe|date('Y-m-d') : '' }}</td>
                <td>{{ employe.Enable ? 'Yes' : 'No' }}</td>
                <td>{{ employe.SupprimerPar }}</td>
                <td>{{ employe.SupprimerLe ? employe.SupprimerLe|date('Y-m-d') : '' }}</td>
                <td>{{ employe.Nom }}</td>
                <td>{{ employe.Prenom }}</td>
                <td>{{ employe.Age }}</td>
                <td>{{ employe.Sexe }}</td>
                <td>{{ employe.Telephone }}</td>
                <td>{{ employe.Adresse }}</td>
                <td>{{ employe.Email }}</td>
                <td>{{ employe.MotDePasse }}</td>
                <td>{{ employe.Roles ? employe.Roles|json_encode : '' }}</td>
                <td>{{ employe.Fonction }}</td>
                <td>{{ employe.Statut }}</td>
                <td>
                    <a href="{{ path('app_employe_show', {'id': employe.id}) }}">show</a>
                    <a href="{{ path('app_employe_edit', {'id': employe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="20">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_employe_new') }}">Create new</a>
{% endblock %}
