<!DOCTYPE html>

<title>Client index</title>

{% block body %}
    <h1>Client index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreerPar</th>
                <th>CreerLe</th>
                <th>ModifierPar</th>
                <th>ModifierLe</th>
                <th>Enable</th>
                <th>SupprimerPar</th>
                <th>SupprimerLe</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Age</th>
                <th>Sexe</th>
                <th>Telephone</th>
                <th>Adresse</th>
                <th>Email</th>
                <th>MotDePasse</th>
                <th>Roles</th>
                <th>Code</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.CreerPar }}</td>
                <td>{{ client.CreerLe ? client.CreerLe|date('Y-m-d') : '' }}</td>
                <td>{{ client.ModifierPar }}</td>
                <td>{{ client.ModifierLe ? client.ModifierLe|date('Y-m-d') : '' }}</td>
                <td>{{ client.Enable ? 'Yes' : 'No' }}</td>
                <td>{{ client.SupprimerPar }}</td>
                <td>{{ client.SupprimerLe ? client.SupprimerLe|date('Y-m-d') : '' }}</td>
                <td>{{ client.Nom }}</td>
                <td>{{ client.Prenom }}</td>
                <td>{{ client.Age }}</td>
                <td>{{ client.Sexe }}</td>
                <td>{{ client.Telephone }}</td>
                <td>{{ client.Adresse }}</td>
                <td>{{ client.Email }}</td>
                <td>{{ client.MotDePasse }}</td>
                <td>{{ client.Roles ? client.Roles|json_encode : '' }}</td>
                <td>{{ client.Code }}</td>
                <td>
                    <a href="{{ path('app_client_show', {'id': client.id}) }}">show</a>
                    <a href="{{ path('app_client_edit', {'id': client.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="19">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_client_new') }}">Create new</a>
{% endblock %}
