{% extends 'AdminsBase.html.twig' %}

{% block Entete %}
  <div class="subheader py-2 py-lg-4 subheader-transparent" id="kt_subheader">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
      <!-- begin::Details -->
      <div class="d-flex align-items-center flex-wrap mr-2">
        <!-- begin::Title -->
        <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">
          Modifier Informations
        </h5>
        <!-- end::Title -->

        <!-- begin::Separator -->
        <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
        <!-- end::Separator -->

        <!-- begin::Search Form -->
        <div class="d-flex align-items-center" id="kt_subheader_search">
          <span class="text-dark-50 font-weight-bold" id="kt_subheader_total">
            {{ admin.Nom }} {{ admin.Prenom }}
          </span>
        </div>
        <!-- end::Search Form -->
      </div>
      <!-- end::Details -->

      <!-- begin::Toolbar -->
      <div class="d-flex align-items-center">
        <!-- begin::Button -->
        <a href="{{ path('ListeUtilisateurs') }}"
          class="btn btn-default font-weight-bold btn-sm px-3 font-size-base">
          Retour
        </a>
        <!-- end::Button -->

        <!-- begin::Dropdown -->
        <div class="btn-group ml-2">
          <button type="button"
            class="btn btn-primary font-weight-bold btn-sm px-3 font-size-base">
            Edition
          </button>

          <button type="button"
            class="btn btn-primary font-weight-bold btn-sm px-3 font-size-base dropdown-toggle dropdown-toggle-split"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">

          </button>

          <div class="dropdown-menu dropdown-menu-sm p-0 m-0 dropdown-menu-right">
            <ul class="navi py-5">
              <li class="navi-item">
                <a href="{{ path('AjouterAdmin') }}" class="navi-link">
                  <span class="navi-icon">
                    <i class="flaticon2-medical-records"></i>
                  </span>
                  <span class="navi-text">Quitter et Ajouter Un Nouveau</span>
                </a>
              </li>
              <li class="navi-item">
                <a href="{{ path('ListeUtilisateurs') }}" class="navi-link">
                  <span class="navi-icon">
                    <i class="flaticon2-hourglass-1"></i>
                  </span>
                  <span class="navi-text">Quitter</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- end::Dropdown -->
      </div>
      <!-- end::Toolbar -->
    </div>
  </div>
{% endblock %}
{% block Contenu %}
    {% include 'admins_dashboard/admin/ModifierUnAdmin.html.twig' %}
{% endblock %}
