<!DOCTYPE html>

<title>Equipement</title>

{% block body %}
    <h1>Equipement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ equipement.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ equipement.Libelle }}</td>
            </tr>
            <tr>
                <th>Disponibilite</th>
                <td>{{ equipement.Disponibilite }}</td>
            </tr>
            <tr>
                <th>NombreUtilisation</th>
                <td>{{ equipement.NombreUtilisation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_equipement_index') }}">back to list</a>

    <a href="{{ path('app_equipement_edit', {'id': equipement.id}) }}">edit</a>

    {{ include('equipement/_delete_form.html.twig') }}
{% endblock %}
