<div class="aside aside-left d-flex flex-column" id="kt_aside">
  <!-- begin::Brand -->
  <div class="aside-brand d-flex flex-column align-items-center flex-column-auto pt-5 pt-lg-18 pb-10">
    <!-- begin::Logo -->
    <div class="btn p-0 symbol symbol-60 symbol-light-primary"
      href="?page=index"
      id="kt_quick_user_toggle">
      {% if is_granted('ROLE_SUPERADMIN') %}
        <div class="symbol-label">
            {% if app.user.image!=null %}							
              <img alt="Logo"
              src="{{asset('Admins/SuperAdmin/PhotosDeProfil/')~ app.user.image}}"
              class="h-75 align-self-end" />
            {% else %}
                <img alt="Pas d'image de Profil"
                src="{{asset('Admins/Assets/media/users/blank.png')}}"
                class="h-75 align-self-end" />	
            {% endif %}
        </div>
      {% elseif is_granted('ROLE_ADMIN')%}
        <div class="symbol-label">
            {% if app.user.image!=null %}							
              <img alt="Logo"
              src="{{asset('Admins/SuperAdmin/PhotosDeProfil/')~ app.user.image}}"
              class="h-75 align-self-end" />
            {% else %}
                <img alt="Pas d'image de Profil"
                src="{{asset('Admins/Assets/media/users/blank.png')}}"
                class="h-75 align-self-end" />	
            {% endif %}
        </div>
      {% endif %}
    </div>
    <!-- end::Logo -->
  </div>
  <!-- end::Brand -->

  <!-- begin::Nav Wrapper -->
  <div class="aside-nav d-flex flex-column align-items-center flex-column-fluid pb-10">
    <!-- begin::Nav -->
    <ul class="nav flex-column">
      <!-- begin::Item -->
      <li class="nav-item mb-2"
        data-toggle="tooltip"
        data-placement="right"
        data-container="body"
        data-boundary="window"
        title="Acceuil">
        <a href="{{ path('AdminsDashboard') }}"
          class="nav-link btn btn-icon btn-hover-text-primary btn-lg active">
         <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo6\dist/../src/media/svg/icons\Layout\Layout-4-blocks.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <rect x="0" y="0" width="24" height="24"/>
                <rect fill="#000000" x="4" y="4" width="7" height="7" rx="1.5"/>
                <path d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z" fill="#000000" opacity="0.3"/>
            </g>
        </svg><!--end::Svg Icon-->
        </span>
        </a>
      </li>
      <!-- end::Item -->

      <!-- begin::Item -->
      <li class="nav-item mb-2"
        data-toggle="tooltip"
        data-placement="right"
        data-container="body"
        data-boundary="window"
        title="Gestion Des Utilisateurs">
        <a href="{{ path('ListeUtilisateurs') }}"
          class="nav-link btn btn-icon btn-hover-text-primary btn-lg"
          role="tab">
        <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo6\dist/../src/media/svg/icons\Communication\Group.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <polygon points="0 0 24 0 24 24 0 24"/>
                <path d="M18,14 C16.3431458,14 15,12.6568542 15,11 C15,9.34314575 16.3431458,8 18,8 C19.6568542,8 21,9.34314575 21,11 C21,12.6568542 19.6568542,14 18,14 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                <path d="M17.6011961,15.0006174 C21.0077043,15.0378534 23.7891749,16.7601418 23.9984937,20.4 C24.0069246,20.5466056 23.9984937,21 23.4559499,21 L19.6,21 C19.6,18.7490654 18.8562935,16.6718327 17.6011961,15.0006174 Z M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z" fill="#000000" fill-rule="nonzero"/>
            </g>
        </svg><!--end::Svg Icon-->
        </span>
        </a>
      </li>
      <!-- end::Item -->

      <!-- begin::Item -->
      <li class="nav-item mb-2"
        data-toggle="tooltip"
        data-placement="right"
        data-container="body"
        data-boundary="window"
        title="Ressources  Materiels">
        <a href="{{path('equipement')}}"
          class="nav-link btn btn-icon btn-hover-text-primary btn-lg"
          data-toggle=""
          data-target=""
          role="tab">
          <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo6\dist/../src/media/svg/icons\Devices\Router2.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <rect x="0" y="0" width="24" height="24"/>
              <rect fill="#000000" x="3" y="13" width="18" height="7" rx="2"/>
              <path d="M17.4029496,9.54910207 L15.8599014,10.8215022 C14.9149052,9.67549895 13.5137472,9 12,9 C10.4912085,9 9.09418404,9.67104182 8.14910121,10.8106159 L6.60963188,9.53388797 C7.93073905,7.94090645 9.88958759,7 12,7 C14.1173586,7 16.0819686,7.94713944 17.4029496,9.54910207 Z M20.4681628,6.9788888 L18.929169,8.25618985 C17.2286725,6.20729644 14.7140097,5 12,5 C9.28974232,5 6.77820732,6.20393339 5.07766256,8.24796852 L3.54017812,6.96885102 C5.61676443,4.47281829 8.68922234,3 12,3 C15.3153667,3 18.3916375,4.47692603 20.4681628,6.9788888 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
          </g>
          </svg><!--end::Svg Icon-->
          </span>
        </a>
      </li>
      <!-- end::Item -->

      <!-- begin::Item -->
      <li class="nav-item mb-2"
        data-toggle="tooltip"
        data-placement="right"
        data-container="body"
        data-boundary="window"
        title="Interventions">
        <a href="{{path('ListeInterventionsAdmin')}}"
          class="nav-link btn btn-icon btn-hover-text-primary btn-lg"
          data-toggle=""
          data-target=""
          role="">
          <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo6\dist/../src/media/svg/icons\Layout\Layout-left-panel-2.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <rect x="0" y="0" width="24" height="24"/>
                  <path d="M10,4 L21,4 C21.5522847,4 22,4.44771525 22,5 L22,7 C22,7.55228475 21.5522847,8 21,8 L10,8 C9.44771525,8 9,7.55228475 9,7 L9,5 C9,4.44771525 9.44771525,4 10,4 Z M10,10 L21,10 C21.5522847,10 22,10.4477153 22,11 L22,13 C22,13.5522847 21.5522847,14 21,14 L10,14 C9.44771525,14 9,13.5522847 9,13 L9,11 C9,10.4477153 9.44771525,10 10,10 Z M10,16 L21,16 C21.5522847,16 22,16.4477153 22,17 L22,19 C22,19.5522847 21.5522847,20 21,20 L10,20 C9.44771525,20 9,19.5522847 9,19 L9,17 C9,16.4477153 9.44771525,16 10,16 Z" fill="#000000"/>
                  <rect fill="#000000" opacity="0.3" x="2" y="4" width="5" height="16" rx="1"/>
              </g>
          </svg><!--end::Svg Icon-->
          </span>
        </a>
      </li>
      <!-- end::Item -->

      <!-- begin::Item -->
      <li class="nav-item mb-2"
        data-toggle="tooltip"
        data-placement="right"
        data-container="body"
        data-boundary="window"
        title="Rapports">
        <a href="{{ path('rapport') }}"
          class="nav-link btn btn-icon btn-hover-text-primary btn-lg"
          data-toggle=""
          data-target=""
          role="tab">
          <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo6\dist/../src/media/svg/icons\Files\Selected-file.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <polygon points="0 0 24 0 24 24 0 24"/>
                  <path d="M4.85714286,1 L11.7364114,1 C12.0910962,1 12.4343066,1.12568431 12.7051108,1.35473959 L17.4686994,5.3839416 C17.8056532,5.66894833 18,6.08787823 18,6.52920201 L18,19.0833333 C18,20.8738751 17.9795521,21 16.1428571,21 L4.85714286,21 C3.02044787,21 3,20.8738751 3,19.0833333 L3,2.91666667 C3,1.12612489 3.02044787,1 4.85714286,1 Z M8,12 C7.44771525,12 7,12.4477153 7,13 C7,13.5522847 7.44771525,14 8,14 L15,14 C15.5522847,14 16,13.5522847 16,13 C16,12.4477153 15.5522847,12 15,12 L8,12 Z M8,16 C7.44771525,16 7,16.4477153 7,17 C7,17.5522847 7.44771525,18 8,18 L11,18 C11.5522847,18 12,17.5522847 12,17 C12,16.4477153 11.5522847,16 11,16 L8,16 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                  <path d="M6.85714286,3 L14.7364114,3 C15.0910962,3 15.4343066,3.12568431 15.7051108,3.35473959 L20.4686994,7.3839416 C20.8056532,7.66894833 21,8.08787823 21,8.52920201 L21,21.0833333 C21,22.8738751 20.9795521,23 19.1428571,23 L6.85714286,23 C5.02044787,23 5,22.8738751 5,21.0833333 L5,4.91666667 C5,3.12612489 5.02044787,3 6.85714286,3 Z M8,12 C7.44771525,12 7,12.4477153 7,13 C7,13.5522847 7.44771525,14 8,14 L15,14 C15.5522847,14 16,13.5522847 16,13 C16,12.4477153 15.5522847,12 15,12 L8,12 Z M8,16 C7.44771525,16 7,16.4477153 7,17 C7,17.5522847 7.44771525,18 8,18 L11,18 C11.5522847,18 12,17.5522847 12,17 C12,16.4477153 11.5522847,16 11,16 L8,16 Z" fill="#000000" fill-rule="nonzero"/>
              </g>
          </svg><!--end::Svg Icon-->
          </span>
        </a>
      </li>
      <!-- end::Item -->

      <!-- begin::Item -->
      <li class="nav-item mb-2"
        data-toggle="tooltip"
        data-placement="right"
        data-container="body"
        data-boundary="window"
        title="Gestion des Taches">
        <a href="{{ path('TacheAdmin') }}"
          class="nav-link btn btn-icon btn-hover-text-primary btn-lg"
          data-toggle=""
          data-target=""
          role="tab">
          <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo6\dist/../src/media/svg/icons\Communication\Clipboard-list.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <rect x="0" y="0" width="24" height="24"/>
                <path d="M8,3 L8,3.5 C8,4.32842712 8.67157288,5 9.5,5 L14.5,5 C15.3284271,5 16,4.32842712 16,3.5 L16,3 L18,3 C19.1045695,3 20,3.8954305 20,5 L20,21 C20,22.1045695 19.1045695,23 18,23 L6,23 C4.8954305,23 4,22.1045695 4,21 L4,5 C4,3.8954305 4.8954305,3 6,3 L8,3 Z" fill="#000000" opacity="0.3"/>
                <path d="M11,2 C11,1.44771525 11.4477153,1 12,1 C12.5522847,1 13,1.44771525 13,2 L14.5,2 C14.7761424,2 15,2.22385763 15,2.5 L15,3.5 C15,3.77614237 14.7761424,4 14.5,4 L9.5,4 C9.22385763,4 9,3.77614237 9,3.5 L9,2.5 C9,2.22385763 9.22385763,2 9.5,2 L11,2 Z" fill="#000000"/>
                <rect fill="#000000" opacity="0.3" x="10" y="9" width="7" height="2" rx="1"/>
                <rect fill="#000000" opacity="0.3" x="7" y="9" width="2" height="2" rx="1"/>
                <rect fill="#000000" opacity="0.3" x="7" y="13" width="2" height="2" rx="1"/>
                <rect fill="#000000" opacity="0.3" x="10" y="13" width="7" height="2" rx="1"/>
                <rect fill="#000000" opacity="0.3" x="7" y="17" width="2" height="2" rx="1"/>
                <rect fill="#000000" opacity="0.3" x="10" y="17" width="7" height="2" rx="1"/>
            </g>
          </svg><!--end::Svg Icon-->
          </span>
        </a>
      </li>
      <!-- end::Item -->
    </ul>
    <!-- end::Nav -->
  </div>
  <!-- end::Nav Wrapper -->

  <!-- begin::Footer -->
  <div class="aside-footer d-flex flex-column align-items-center flex-column-auto py-8">
    <!-- begin::Notifications -->
    <a href="#"
      class="btn btn-icon btn-hover-text-primary btn-lg mb-1 position-relative"
      id="kt_quick_notifications_toggle"
      data-toggle="tooltip"
      data-placement="right"
      data-container="body"
      data-boundary="window"
      title="Notifications">
      <span class="svg-icon svg-icon-xxl">
        <!-- begin::Svg Icon | path:assets/media/svg/icons/Design/Layers.svg -->
        <svg xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="24px"
          height="24px"
          viewBox="0 0 24 24"
          version="1.1">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <polygon points="0 0 24 0 24 24 0 24" />
            <path d="M12.9336061,16.072447 L19.36,10.9564761 L19.5181585,10.8312381 C20.1676248,10.3169571 20.2772143,9.3735535 19.7629333,8.72408713 C19.6917232,8.63415859 19.6104327,8.55269514 19.5206557,8.48129411 L12.9336854,3.24257445 C12.3871201,2.80788259 11.6128799,2.80788259 11.0663146,3.24257445 L4.47482784,8.48488609 C3.82645598,9.00054628 3.71887192,9.94418071 4.23453211,10.5925526 C4.30500305,10.6811601 4.38527899,10.7615046 4.47382636,10.8320511 L4.63,10.9564761 L11.0659024,16.0730648 C11.6126744,16.5077525 12.3871218,16.5074963 12.9336061,16.072447 Z"
              fill="#000000"
              fill-rule="nonzero" />
            <path d="M11.0563554,18.6706981 L5.33593024,14.122919 C4.94553994,13.8125559 4.37746707,13.8774308 4.06710397,14.2678211 C4.06471678,14.2708238 4.06234874,14.2738418 4.06,14.2768747 L4.06,14.2768747 C3.75257288,14.6738539 3.82516916,15.244888 4.22214834,15.5523151 C4.22358765,15.5534297 4.2250303,15.55454 4.22647627,15.555646 L11.0872776,20.8031356 C11.6250734,21.2144692 12.371757,21.2145375 12.909628,20.8033023 L19.7677785,15.559828 C20.1693192,15.2528257 20.2459576,14.6784381 19.9389553,14.2768974 C19.9376429,14.2751809 19.9363245,14.2734691 19.935,14.2717619 L19.935,14.2717619 C19.6266937,13.8743807 19.0546209,13.8021712 18.6572397,14.1104775 C18.654352,14.112718 18.6514778,14.1149757 18.6486172,14.1172508 L12.9235044,18.6705218 C12.377022,19.1051477 11.6029199,19.1052208 11.0563554,18.6706981 Z"
              fill="#000000"
              opacity="0.3" />
          </g>
        </svg>
        <!-- end::Svg Icon -->
      </span>
      <span class="label label-sm label-light-danger label-rounded font-weight-bolder position-absolute top-0 right-0 mt-1 mr-1">
        3
      </span>
    </a>
    <!-- end::Notifications -->

    <!-- begin::Quick Actions -->
    <a href="#"
      class="btn btn-icon btn-hover-text-primary btn-lg mb-1"
      id="kt_quick_actions_toggle"
      data-toggle="tooltip"
      data-placement="right"
      data-container="body"
      data-boundary="window"
      title="Actions Rapides">
      <span class="svg-icon svg-icon-xxl">
        <!-- begin::Svg Icon | path:assets/media/svg/icons/Media/Equalizer.svg -->
        <svg xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="24px"
          height="24px"
          viewBox="0 0 24 24"
          version="1.1">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <rect x="0" y="0" width="24" height="24" />
            <rect fill="#000000"
              opacity="0.3"
              x="13"
              y="4"
              width="3"
              height="16"
              rx="1.5" />
            <rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5" />
            <rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5" />
            <rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5" />
          </g>
        </svg>
        <!-- end::Svg Icon -->
      </span>
    </a>
    <!-- end::Quick Actions -->

    <!-- begin::Quick Panel -->
    <a href="#"
      class="btn btn-icon btn-hover-text-primary btn-lg mb-1"
      id="kt_quick_panel_toggle"
      data-toggle="tooltip"
      data-placement="right"
      data-container="body"
      data-boundary="window"
      title="Quick Panel">
      <span class="svg-icon svg-icon-xxl">
        <!-- begin::Svg Icon | path:assets/media/svg/icons/Layout/Layout-4-blocks.svg -->
        <svg xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="24px"
          height="24px"
          viewBox="0 0 24 24"
          version="1.1">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <rect x="0" y="0" width="24" height="24" />
            <rect fill="#000000" x="4" y="4" width="7" height="7" rx="1.5" />
            <path d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z"
              fill="#000000"
              opacity="0.3" />
          </g>
        </svg>
        <!-- end::Svg Icon -->
      </span>
    </a>
    <!-- end::Quick Panel -->

    <!-- begin::Languages -->
    <div class="dropdown"
      data-toggle="tooltip"
      data-placement="right"
      data-container="body"
      data-boundary="window"
      title="Languages">
      <a href="#"
        class="btn btn-icon btn-hover-text-primary btn-lg"
        data-toggle="dropdown"
        data-offset="0px,0px">
        <img class="w-20px h-20px rounded"
          src="{{
          asset(
            'Admins/assets/media/svg/flags/226-united-states.svg'
          )
          }}"
          alt="image" />
      </a>
      <!-- begin::Dropdown -->
      <div class="dropdown-menu p-0 m-0 dropdown-menu-anim-up dropdown-menu-sm dropdown-menu-left">
        <!-- begin::Nav -->
        <ul class="navi navi-hover py-4">
          <!-- begin::Item -->
          <li class="navi-item">
            <a href="#" class="navi-link">
              <span class="symbol symbol-20 mr-3">
                <img src="{{
                  asset(
                    'Admins/assets/media/svg/flags/226-united-states.svg'
                  )
                  }}"
                  alt="" />
              </span>
              <span class="navi-text">English</span>
            </a>
          </li>
          <!-- end::Item -->

          <!-- begin::Item -->
          <li class="navi-item active">
            <a href="#" class="navi-link">
              <span class="symbol symbol-20 mr-3">
                <img src="{{
                  asset(
                    'Admins/assets/media/svg/flags/128-spain.svg'
                  )
                  }}"
                  alt="" />
              </span>
              <span class="navi-text">Spanish</span>
            </a>
          </li>
          <!-- end::Item -->

          <!-- begin::Item -->
          <li class="navi-item">
            <a href="#" class="navi-link">
              <span class="symbol symbol-20 mr-3">
                <img src="{{
                  asset(
                    'Admins/assets/media/svg/flags/162-germany.svg'
                  )
                  }}"
                  alt="" />
              </span>
              <span class="navi-text">German</span>
            </a>
          </li>
          <!-- end::Item -->

          <!-- begin::Item -->
          <li class="navi-item">
            <a href="#" class="navi-link">
              <span class="symbol symbol-20 mr-3">
                <img src="{{
                  asset(
                    'Admins/assets/media/svg/flags/063-japan.svg'
                  )
                  }}"
                  alt="" />
              </span>
              <span class="navi-text">Japanese</span>
            </a>
          </li>
          <!-- end::Item -->

          <!-- begin::Item -->
          <li class="navi-item">
            <a href="#" class="navi-link">
              <span class="symbol symbol-20 mr-3">
                <img src="{{
                  asset(
                    'Admins/assets/media/svg/flags/195-france.svg'
                  )
                  }}"
                  alt="" />
              </span>
              <span class="navi-text">French</span>
            </a>
          </li>
          <!-- end::Item -->
        </ul>
        <!-- end::Nav -->
      </div>
      <!-- end::Dropdown -->
    </div>
    <!-- end::Languages -->
  </div>
  <!-- end::Footer -->
</div>
