<!DOCTYPE html>
<html lang="en">
<head>
  <title>SDI</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ asset('Accueil/vendors/owl-carousel/css/owl.carousel.min.css')}}">
  <link rel="stylesheet" href="{{ asset('Accueil/vendors/owl-carousel/css/owl.theme.default.css')}}">
  <link rel="stylesheet" href="{{ asset('Accueil/vendors/mdi/css/materialdesignicons.min.css')}}">
  <link rel="stylesheet" href="{{ asset('Accueil/vendors/aos/css/aos.css')}}">
  <link rel="stylesheet" href="{{ asset('Accueil/css/style.min.css')}}">
</head>
<body id="body" data-spy="scroll" data-target=".navbar" data-offset="100">
  <header id="header-section">
    <nav class="navbar navbar-expand-lg pl-3 pl-sm-0" id="navbar">
    <div class="container">
      <div class="navbar-brand-wrapper d-flex w-100">
        <img src="{{ asset('Accueil/images/Group2.svg')}}" alt="">
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="mdi mdi-menu navbar-toggler-icon"></span>
        </button> 
      </div>
      <div class="collapse navbar-collapse navbar-menu-wrapper" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-lg-center align-items-start ml-auto">
          <li class="d-flex align-items-center justify-content-between pl-4 pl-lg-0">
            <div class="navbar-collapse-logo">
              <img src="{{ asset('Accueil/images/Group2.svg')}}" alt="">
            </div>
            <button class="navbar-toggler close-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="mdi mdi-close navbar-toggler-icon pl-5"></span>
            </button>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#header-section">{% trans %}About{% endtrans %}<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#features-section">Guide</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#digital-marketing-section">Services</a>  
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#feedback-section">{% trans %}Testimonials{% endtrans %}</a>
          </li>
          <li class="nav-item">
            {% for locale in locales %}
              {% if locale != app.request.locale %}
                  <a href="{{path('ChangerLangue',{'locale':locale})}}" class="nav-link" data-offset="0px,0px" aria-expanded="false">
                      <span class="symbol symbol-20 mr-3">
                        <img src="/Admins/assets/media/svg/flags/{{ locale }}.svg" alt="{{ locale }}" style="height:18px">
                      </span>
                      <span class="navi-text">{{ locale }}</span>
                  </a>
                {% endif %}
            {% endfor %}
          </li>
          <li class="nav-item btn-contact-us pl-4 pl-lg-0">
            <a href="{{path('Login')}}"class="btn btn-info">Connexion</a>
          </li>
        </ul>
      </div>
    </div> 
    </nav>   
  </header>
  <div class="banner" >
    <div class="container">
      {% for message in app.flashes('Succes') %}
          <div class="alert alert-success alert-dismissible fade show">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ message }}
          </div>
      {% endfor %}
      {% for message in app.flashes('Error') %}
          <div class="alert alert-danger alert-dismissible fade show">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ message }}
          </div>
      {% endfor %}
      <h1 class="font-weight-semibold">{% trans %} Interventions Monitoring {% endtrans %} &<br>{% trans %}Service Management{% endtrans %}.</h1>
      <h6 class="font-weight-normal text-muted pb-3">{% trans %}To allow our customers to enjoy more freely and easily the products we offer them{% endtrans %}</h6>
      <div>
        <a href="{{path('ChoixTypeCompte')}}" class="btn btn-opacity-light mr-1">Inscription</a>
        <button class="btn btn-opacity-success ml-1">{% trans %}More informations{% endtrans %}</button>
      </div>
      <img src="{{ asset('Accueil/images/Group171.svg')}}" alt="" class="img-fluid">
    </div>
  </div>
  <div class="content-wrapper">
    <div class="container">
      <section class="features-overview" id="features-section" >
        <div class="content-header">
          <h2>{% trans %}How it works{% endtrans %}</h2>
          <h6 class="section-subtitle text-muted">{% trans %}To take advantage of our services, simply follow the following steps{% endtrans %}.</h6>
        </div>
        <div class="d-md-flex justify-content-between">
          <div class="grid-margin d-flex justify-content-start">
            <div class="features-width">
              <img src="{{ asset('Accueil/images/Group12.svg')}}" alt="" class="img-icons">
              <h5 class="py-3">{% trans %}Create{% endtrans %}<br>{% trans %}Account{% endtrans %}</h5>
              <p class="text-muted">{% trans %}To Create An Account on Our Platform click on The Create Link below or go to the section{% endtrans %}<a href="#header-section">{% trans %}About{% endtrans %}</a>{% trans %}then click on Register{% endtrans %}.</p>
              <a href="{{ path('ChoixTypeCompte') }}"><p class="readmore-link">Créer</p></a>  
            </div>
          </div>
          <div class="grid-margin d-flex justify-content-center">
            <div class="features-width">
              <img src="{{ asset('Accueil/images/Group7.svg')}}" alt="" class="img-icons">
              <h5 class="py-3">{% trans %}Login{% endtrans %}</h5>
              <p class="text-muted">{% trans %}After creating Your Account and validating it, Log in and access your Space. You can click on the Connection Link below or on the Connection button in the Menu{% endtrans %}</p>
              <a href="{{ path('Login') }}"><p class="readmore-link">Connexion</p></a>
            </div>
          </div>
          <div class="grid-margin d-flex justify-content-end">
            <div class="features-width">
              <img src="{{ asset('Accueil/images/Group5.svg')}}" alt="" class="img-icons">
              <h5 class="py-3">{% trans %}Access To your Space{% endtrans %}</h5>
              <p class="text-muted">{% trans %}After logging in, access your space and enjoy its content and features. The features available vary depending on the type of Account you have created{% endtrans %}</p>
              {# <a href="#"><p class="readmore-link">Readmore</p></a> #}
            </div>
          </div>
        </div>
      </section>     
      <section class="digital-marketing-service" id="digital-marketing-section">
        <div class="row align-items-center">
          <div class="col-12 col-lg-7 grid-margin grid-margin-lg-0" data-aos="fade-right">
            <h3 class="m-0">{% trans %}We also offer other services {% endtrans %}!</h3>
            <div class="col-lg-7 col-xl-6 p-0">
              <p class="py-4 m-0 text-muted">{% trans %}Such as an Integrated Social Network{% endtrans %}</p>
              <p class="font-weight-medium text-muted">{% trans %}A tool to allow different users to exchange and share their experiences{% endtrans %}</p>
            </div>    
          </div>
          <div class="col-12 col-lg-5 p-0 img-digital grid-margin grid-margin-lg-0" data-aos="fade-left">
            <img src="{{ asset('Accueil/images/Group1.png')}}" alt="" class="img-fluid">
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-12 col-lg-7 text-center flex-item grid-margin" data-aos="fade-right">
            <img src="{{ asset('Accueil/images/Group2.png')}}" alt="" class="img-fluid">
          </div>
          <div class="col-12 col-lg-5 flex-item grid-margin" data-aos="fade-left">
            <h3 class="m-0">{% trans %}Various{% endtrans %}<br>{% trans %}Services{% endtrans %}.</h3>
            <div class="col-lg-9 col-xl-8 p-0">
              <p class="py-4 m-0 text-muted">{% trans %}Our Task Manager{% endtrans %}.</p>
              <p class="pb-2 font-weight-medium text-muted">{% trans %}A tool to help you better organize and plan your tasks{% endtrans %}.</p>
            </div>
            <button class="btn btn-info">{% trans %}More information{% endtrans %}</button>
          </div>
        </div>
      </section>     
      <section class="case-studies" id="case-studies-section">
        <div class="row grid-margin">
          <div class="col-12 text-center pb-5">
            <h2>{% trans %}Our Main Services{% endtrans %}</h2>
            <h6 class="section-subtitle text-muted">{% trans %}What we offer concretely{% endtrans %}</h6>
          </div>
          <div class="col-12 col-md-6 col-lg-3 stretch-card mb-3 mb-lg-0" data-aos="zoom-in">
            <div class="card color-cards">
              <div class="card-body p-0">
                <div class="bg-primary text-center card-contents">
                  <div class="card-image">
                    <img src="{{ asset('Accueil/images/Group95.svg')}}" class="case-studies-card-img" alt="">
                  </div>  
                  <div class="card-desc-box d-flex align-items-center justify-content-around">
                    <div>
                      <h6 class="text-white pb-2 px-3">{% trans %}About Material Resources {% endtrans %}</h6>
                      <button class="btn btn-white">{% trans %}More information{% endtrans %}</button>
                    </div>
                  </div>
                </div>   
                <div class="card-details text-center pt-4">
                    <h6 class="m-0 pb-1">{% trans %}Material Resources Administration{% endtrans %}</h6>
                    <p>{% trans %}Materials,Equipment{% endtrans %}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 stretch-card mb-3 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="card color-cards">
              <div class="card-body p-0">
                <div class="bg-warning text-center card-contents">
                  <div class="card-image">
                      <img src="{{ asset('Accueil/images/Group108.svg')}}" class="case-studies-card-img" alt="">
                  </div>  
                  <div class="card-desc-box d-flex align-items-center justify-content-around">
                    <div>
                      <h6 class="text-white pb-2 px-3">{% trans %}About Tracking Interventions {% endtrans %}</h6>
                      <button class="btn btn-white">{% trans %}More information {% endtrans %}</button>
                    </div>
                  </div>
                </div>   
                <div class="card-details text-center pt-4">
                    <h6 class="m-0 pb-1">{% trans %}Interventions Monitoring {% endtrans %}</h6>
                    <p>Interventions</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 stretch-card mb-3 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="card color-cards">
              <div class="card-body p-0">
                <div class="bg-violet text-center card-contents">
                  <div class="card-image">
                      <img src="{{ asset('Accueil/images/Group126.svg')}}" class="case-studies-card-img" alt="">
                  </div>  
                  <div class="card-desc-box d-flex align-items-center justify-content-around">
                    <div>
                      <h6 class="text-white pb-2 px-3">{% trans %}About Report Management {% endtrans %}</h6>
                      <button class="btn btn-white">{% trans %}More information {% endtrans %}</button>
                    </div>
                  </div>
                </div>   
                <div class="card-details text-center pt-4">
                    <h6 class="m-0 pb-1">{% trans %}Report Management {% endtrans %}</h6>
                    <p>{% trans %}Report {% endtrans %}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 stretch-card" data-aos="zoom-in" data-aos-delay="600">
            <div class="card color-cards">
              <div class="card-body p-0">
                <div class="bg-success text-center card-contents">
                  <div class="card-image">
                      <img src="{{ asset('Accueil/images/Group115.svg')}}" class="case-studies-card-img" alt="">
                  </div>  
                  <div class="card-desc-box d-flex align-items-center justify-content-around">
                    <div>
                      <h6 class="text-white pb-2 px-3">{% trans %}About Human Resources{% endtrans %}</h6>
                      <button class="btn btn-white">{% trans %}More information{% endtrans %}</button>
                    </div>
                  </div>
                </div>   
                <div class="card-details text-center pt-4">
                    <h6 class="m-0 pb-1">{% trans %}Human Resource Management{% endtrans %}</h6>
                    <p>{% trans %}Human capital{% endtrans %}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>     
      <section class="customer-feedback" id="feedback-section">
        <div class="row">
          <div class="col-12 text-center pb-5">
            <h2>{% trans %}Testimonials addressed to us{% endtrans %}</h2>
            <h6 class="section-subtitle text-muted m-0">{% trans %}Testimonials from our users{% endtrans %}</h6>
          </div>
          <div class="owl-carousel owl-theme grid-margin">
          {% for temoignage in temoignages %}
              <div class="card customer-cards">
                <div class="card-body">
                  <div class="text-center">
                    {% if temoignage.client!=null %}
                      <img src="{{ asset('Clients/PhotosDeProfil/')~temoignage.client.image}}" width="89" height="89" alt="" class="img-customer">
                    {% else %}
                      <img src="{{ asset('Admins/Assets/media/users/blank.png') }}" width="89" height="89" alt="" class="img-customer">
                    {% endif %}
                    <p class="m-0 py-3 text-muted">
                      {{ temoignage.Contenu }}
                    </p>
                    <div class="content-divider m-auto"></div>
                    <h6 class="card-title pt-3">
                      {% if temoignage.client!=null %}
                        {{ temoignage.client.Nom }}
                      {% else %}
                        Utilisateur Anonyme
                      {% endif %}
                    </h6>
                    <h6 class="customer-designation text-muted m-0">client</h6>
                  </div>
                </div>
              </div>
          {% endfor %}
          </div>
        </div>
      </section>
      <section class="contact-us" id="contact-section">
        <div class="contact-us-bgimage grid-margin" >
          <div class="pb-4">
            <h4 class="px-3 px-md-0 m-0" data-aos="fade-down">{% trans %}Do you have any suggestions{% endtrans %}?</h4>
            <h4 class="pt-1" data-aos="fade-down">{% trans %}Submit them to us{% endtrans %}</h4>
          </div>
          <div data-aos="fade-up">
            <button class="btn btn-rounded btn-outline-danger" data-toggle="modal" data-target="#exampleModal">{% trans %}Send an email{% endtrans %}</button>
          </div>          
        </div>
      </section>
      <section class="contact-details" id="contact-details-section">
        <div class="row text-center text-md-left">
          <div class="col-12 col-md-6 col-lg-3 grid-margin">
            <img src="{{ asset('Accueil/images/Group2.svg')}}" alt="" class="pb-2">
            <div class="pt-2">
              <a href="mailto:majoiefaya@gmail.com" class="text-muted m-0">majoiefaya@gmail.com</a>
              <a href="tel:+22896329943" class="text-muted m-0">+22896329943</a>
            </div>         
          </div>
          <div class="col-12 col-md-6 col-lg-3 grid-margin">
            <h5 class="pb-2">{% trans %}Subscribe{% endtrans %}</h5>
            <p class="text-muted">{% trans %}Don't miss any of our News{% endtrans %}<br>{% trans %}subscribe to our Newsletter{% endtrans %}</p>
            <form method="post" action="{{path('Newsletter')}}">
              <input type="text" class="form-control" id="Email" placeholder="Entrez votre Email" name="email">
              <div class="pt-3">
                <button class="btn btn-dark">{% trans %}Suscribe{% endtrans %}</button>
              </div>   
            </form>
          </div>
          <div class="col-12 col-md-6 col-lg-3 grid-margin">
            <h5 class="pb-2">{% trans %}Rules and Privacy Policy{% endtrans %}</h5>
            <a href="#"><p class="m-0 pt-1 pb-2">Cookie</p></a> 
            <a href="#"><p class="m-0 pt-1">{% trans %}Help Page {% endtrans %}</p></a> 
          </div>
          <div class="col-12 col-md-6 col-lg-3 grid-margin">
              <h5 class="pb-2">Address</h5>
              <p class="text-muted">Lomé<br>Togo</p>
              <div class="d-flex justify-content-center justify-content-md-start">
                <a href="#"><span class="mdi mdi-facebook"></span></a>
                <a href="#"><span class="mdi mdi-twitter"></span></a>
                <a href="#"><span class="mdi mdi-instagram"></span></a>
                <a href="#"><span class="mdi mdi-linkedin"></span></a>
              </div>
          </div>
        </div>  
      </section>
      <footer class="border-top">
        <p class="text-center text-muted pt-4">Copyright © {{ DateActuelle|date('Y')}}<a href="https://www.bootstrapdash.com/" class="px-1">SDI.</a>Tous droits Reservés.</p>

        <p class="text-center text-muted pt-2">{% trans %}Distribute By{% endtrans %}: <a href="https://www.themewagon.com/" class="px-1" target="_blank"></a></p>
      </footer>
      <!-- Modal for Contact - us Button -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel">{% trans %}Send an Mail{% endtrans %}</h4>
            </div>
            <div class="modal-body">
              <form action={{ path('MailDeSuggestion') }} method="post">
                <div class="form-group">
                  <label for="Name">{% trans %}Name{% endtrans %}</label>
                  <input type="text" class="form-control" id="Name" placeholder="Nom" name="nom">
                </div>
                <div class="form-group">
                  <label for="Email">Email</label>
                  <input type="email" class="form-control" id="Email-1" placeholder="Email" name="email">
                </div>
                <div class="form-group">
                  <label for="Message">Message</label>
                  <textarea class="form-control" id="Message" placeholder="Entrez votre Message" name="message"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                    <button type="submit" class="btn btn-success">{% trans %}Send{% endtrans %}</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
  <script src="{{ asset('Accueil/vendors/jquery/jquery.min.js')}}"></script>
  <script src="{{ asset('Accueil/vendors/bootstrap/bootstrap.min.js')}}"></script>
  <script src="{{ asset('Accueil/vendors/owl-carousel/js/owl.carousel.min.js')}}"></script>
  <script src="{{ asset('Accueil/vendors/aos/js/aos.js')}}"></script>
  <script src="{{ asset('Accueil/js/landingpage.js')}}"></script>
  <script>
    var botmanWidget = {
        frameEndpoint: '{{ path("chat_frame") }}',
        chatServer: '{{ path("chat_message") }}',
        introMessage: 'Hello, I am a Chatbot',
        title: 'My Chatbot',
        mainColor: '#f59e08',
        color: '#ffffff',
        bubbleBackground: '#e39206',
        aboutText: ''
    };
  </script>
  <script src='https://cdn.jsdelivr.net/npm/botman-web-widget@0/build/js/widget.js'>
  </script>
</body>
</html>