{% extends 'EmployesBase.html.twig' %}

{% block Css %}
  {% include 'Employes_dashboard/Components/Css.html.twig' %}
  <link rel="stylesheet"
    href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
  <link rel="stylesheet"
    href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
  <link rel="stylesheet"
    href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />
{% endblock %}

{% block Entete %}
    {% include 'employes_dashboard/Components/InfosInterventionTechnicienHeader.html.twig' %}
{% endblock %}

{% block Contenu %}
  <div class=" container-fluid ">
  <div class="card card-custom gutter-b">
    <div class="card-body">
      <div class="d-flex">
      {% if error is defined %}
        <div class="alert alert-custom alert-light-danger fade show py-4" role="alert">
          <div class="alert-icon"><i class="flaticon-warning"></i></div>
          <div class="alert-text font-weight-bold">
            {{ error }}
          </div>
          <div class="alert-close">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true"><i class="la la-close "></i></span>
              </button>
          </div>
      </div>
      {% endif %}
        <!-- begin: Pic -->
        <div class="flex-shrink-0 mr-7 mt-lg-0 mt-3">
          <div class="symbol symbol-50 symbol-lg-120">
            {% if intervention.client.image != null %}
              <img src="{{
                asset('Clients/PhotosDeProfil/')
                  ~ intervention.client.image
                }}"
                alt="Pic" />
            {% else %}
              <img class=""
                src="{{ asset('Admins/Assets/media/users/blank.png') }}"
                alt="Pas De Photo De Profil" />
            {% endif %}
          </div>

          <div class="symbol symbol-50 symbol-lg-120 symbol-primary d-none">
            <span class="font-size-h3 symbol-label font-weight-boldest">
              JM
            </span>
          </div>
        </div>
        <!-- end: Pic -->

        <!-- begin: Info -->
        <div class="flex-grow-1">
          <!-- begin: Title -->
          <div class="d-flex align-items-center justify-content-between flex-wrap">
            <div class="mr-3">
              <!-- begin::Name -->
              {% if intervention.Titre != null %}
                <a href="#"
                  class="d-flex align-items-center text-dark text-hover-primary font-size-h5 font-weight-bold mr-3">
                  {{ intervention.Titre }}
                  <i class="flaticon2-correct text-success icon-md ml-2"></i>
                </a>
              {% else %}
                <span>Ajouter Un Titre</span>
              {% endif %}

              <!-- end::Name -->

              <!-- begin::Contacts -->
              <div class="d-flex flex-wrap my-2">
                <a href="#"
                  class="text-muted text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
                  <span class="svg-icon svg-icon-md svg-icon-gray-500 mr-1">
                    <!-- begin::Svg Icon | path:assets/media/svg/icons/Communication/Mail-notification.svg -->
                    <svg xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="24px"
                      height="24px"
                      viewBox="0 0 24 24"
                      version="1.1">
                      <g stroke="none"
                        stroke-width="1"
                        fill="none"
                        fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24"></rect>
                        <path d="M21,12.0829584 C20.6747915,12.0283988 20.3407122,12 20,12 C16.6862915,12 14,14.6862915 14,18 C14,18.3407122 14.0283988,18.6747915 14.0829584,19 L5,19 C3.8954305,19 3,18.1045695 3,17 L3,8 C3,6.8954305 3.8954305,6 5,6 L19,6 C20.1045695,6 21,6.8954305 21,8 L21,12.0829584 Z M18.1444251,7.83964668 L12,11.1481833 L5.85557487,7.83964668 C5.4908718,7.6432681 5.03602525,7.77972206 4.83964668,8.14442513 C4.6432681,8.5091282 4.77972206,8.96397475 5.14442513,9.16035332 L11.6444251,12.6603533 C11.8664074,12.7798822 12.1335926,12.7798822 12.3555749,12.6603533 L18.8555749,9.16035332 C19.2202779,8.96397475 19.3567319,8.5091282 19.1603533,8.14442513 C18.9639747,7.77972206 18.5091282,7.6432681 18.1444251,7.83964668 Z"
                          fill="#000000"></path>
                        <circle fill="#000000"
                          opacity="0.3"
                          cx="19.5"
                          cy="17.5"
                          r="2.5"></circle>
                      </g>
                    </svg>
                    <!-- end::Svg Icon -->
                  </span>
                  {{ intervention.client.email }}
                </a>
                <a href="#"
                  class="text-muted text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
                  <span class="svg-icon svg-icon-md svg-icon-gray-500 mr-1">
                    <!-- begin::Svg Icon | path:assets/media/svg/icons/General/Lock.svg -->
                    <svg xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="24px"
                      height="24px"
                      viewBox="0 0 24 24"
                      version="1.1">
                      <g stroke="none"
                        stroke-width="1"
                        fill="none"
                        fill-rule="evenodd">
                        <mask fill="white">
                          <use xlink:href="#path-1"></use>
                        </mask>
                        <g></g>
                        <path d="M7,10 L7,8 C7,5.23857625 9.23857625,3 12,3 C14.7614237,3 17,5.23857625 17,8 L17,10 L18,10 C19.1045695,10 20,10.8954305 20,12 L20,18 C20,19.1045695 19.1045695,20 18,20 L6,20 C4.8954305,20 4,19.1045695 4,18 L4,12 C4,10.8954305 4.8954305,10 6,10 L7,10 Z M12,5 C10.3431458,5 9,6.34314575 9,8 L9,10 L15,10 L15,8 C15,6.34314575 13.6568542,5 12,5 Z"
                          fill="#000000"></path>
                      </g>
                    </svg>
                    <!-- end::Svg Icon -->
                  </span>
                  {{ intervention.client.Nom }} {{ intervention.client.Prenom }}
                </a>
                <a href="{{path('LocaliserIntervention',{'id':intervention.id})}}"
                  class="text-muted text-hover-primary font-weight-bold">
                  <span class="svg-icon svg-icon-md svg-icon-gray-500 mr-1">
                    <!-- begin::Svg Icon | path:assets/media/svg/icons/Map/Marker2.svg -->
                    <svg xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="24px"
                      height="24px"
                      viewBox="0 0 24 24"
                      version="1.1">
                      <g stroke="none"
                        stroke-width="1"
                        fill="none"
                        fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24"></rect>
                        <path d="M9.82829464,16.6565893 C7.02541569,15.7427556 5,13.1079084 5,10 C5,6.13400675 8.13400675,3 12,3 C15.8659932,3 19,6.13400675 19,10 C19,13.1079084 16.9745843,15.7427556 14.1717054,16.6565893 L12,21 L9.82829464,16.6565893 Z M12,12 C13.1045695,12 14,11.1045695 14,10 C14,8.8954305 13.1045695,8 12,8 C10.8954305,8 10,8.8954305 10,10 C10,11.1045695 10.8954305,12 12,12 Z"
                          fill="#000000"></path>
                      </g>
                    </svg>
                    <!-- end::Svg Icon -->
                  </span> Localiser Intervention
                </a>
              </div>
              <!-- end::Contacts -->
            </div>
            <div class="my-lg-0 my-1">
            {% if intervention.interventionAss is empty %}
              <a href="#"
                class="btn btn-sm btn-info font-weight-bolder text-uppercase">
                Non Assistée
              </a>
            {% else %}
              <a href="#"
                class="btn btn-sm btn-light-success font-weight-bolder text-uppercase mr-3">
                Assistée
              </a>
            {% endif %}
            {% if intervention.DateDebutIntervention==null or intervention.DateFinIntervention==null or intervention.client==null or intervention.equipes is empty %}
              <a href="{{path('ActiverIntervention',{'id':intervention.id})}}"
                class="btn btn-sm btn-info font-weight-bolder text-uppercase">
                Activer
              </a>
            {% else %}
              <a href="#"
                class="btn btn-sm btn-light-success font-weight-bolder text-uppercase mr-3">
                Desactiver
              </a>
            {% endif %}
            </div>
          </div>
          <!-- end: Title -->

          <!-- begin: Content -->
          <div class="d-flex align-items-center flex-wrap justify-content-between">
            <div class="flex-grow-1 font-weight-bold text-dark-50 py-5 py-lg-2 mr-5">
              {% if intervention.description != null %}
                {{ intervention.Description }}
              {% else %}
                Ajouter Une Description
              {% endif %}
            </div>

            <div class="d-flex flex-wrap align-items-center py-2">
              <div class="d-flex align-items-center mr-10">
                <div class="mr-6">
                  <div class="font-weight-bold mb-2">
                    Date Debut
                  </div>
                  <span class="btn btn-sm btn-text btn-light-danger text-uppercase font-weight-bold">
                    {% if intervention.DateDebutIntervention != null %}
                      {{ intervention.DateDebutIntervention|date('d-m-Y') }}
                    {% else %}
                      N/A
                    {% endif %}
                  </span>
                </div>
                <div class="">
                  <div class="font-weight-bold mb-2">
                    Date Fin
                  </div>
                  <span class="btn btn-sm btn-text btn-light-danger text-uppercase font-weight-bold">
                    {% if intervention.DateFinIntervention != null %}
                      {{ intervention.DateFinIntervention|date('d-m-Y') }}
                    {% else %}
                      N/A
                    {% endif %}
                  </span>
                </div>
              </div>
              <div class="flex-grow-1 flex-shrink-0 w-150px w-xl-300px mt-4 mt-sm-0">
                <span class="font-weight-bold">Progression</span>
                <div class="progress progress-xs mt-2 mb-2">
                  <div class="progress-bar bg-success"
                    role="progressbar"
                    style="width: {{ pourcentageIntervention }}%;"
                    aria-valuenow="50"
                    aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
                <span class="font-weight-bolder text-dark">{{ pourcentageIntervention }}%</span>
              </div>
            </div>
          </div>
          <!-- end: Content -->
        </div>
        <!-- end: Info -->
      </div>

      <div class="separator separator-solid my-7"></div>

      <!-- begin: Items -->
      <div class="d-flex align-items-center flex-wrap">
        <!-- begin: Item -->
        <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
          <span class="mr-4">
            <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo6\dist/../src/media/svg/icons\Devices\Router1.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect x="0" y="0" width="24" height="24"/>
                    <path d="M15,15 L15,10 C15,9.44771525 15.4477153,9 16,9 C16.5522847,9 17,9.44771525 17,10 L17,15 L20,15 C21.1045695,15 22,15.8954305 22,17 L22,19 C22,20.1045695 21.1045695,21 20,21 L4,21 C2.8954305,21 2,20.1045695 2,19 L2,17 C2,15.8954305 2.8954305,15 4,15 L15,15 Z M5,17 C4.44771525,17 4,17.4477153 4,18 C4,18.5522847 4.44771525,19 5,19 L10,19 C10.5522847,19 11,18.5522847 11,18 C11,17.4477153 10.5522847,17 10,17 L5,17 Z" fill="#000000"/>
                    <path d="M20.5,7.7155722 L19.2133304,8.85714286 C18.425346,7.82897283 17.2569914,7.22292937 15.9947545,7.22292937 C14.7366498,7.22292937 13.571742,7.82497398 12.7836854,8.84737587 L11.5,7.70192243 C12.6016042,6.27273291 14.2349886,5.42857143 15.9947545,5.42857143 C17.7603123,5.42857143 19.3985009,6.27832502 20.5,7.7155722 Z M23.5,5.46053062 L22.1362873,6.57142857 C20.629466,4.78945909 18.4012066,3.73944576 15.9963045,3.73944576 C13.5947271,3.73944576 11.3692392,4.78653417 9.8623752,6.56427829 L8.5,5.45180053 C10.340077,3.28094376 13.0626024,2 15.9963045,2 C18.934073,2 21.6599771,3.28451636 23.5,5.46053062 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                </g>
            </svg><!--end::Svg Icon-->
            </span>
          </span>
          <div class="d-flex flex-column text-dark-75">
            <span class="font-weight-bolder font-size-sm">Equipements</span>
            <span class="font-weight-bolder font-size-h5">
              <span class="text-dark-50 font-weight-bold"></span>{{ intervention.equipement|length }}
            </span>
          </div>
        </div>
        <!-- end: Item -->

        <!-- begin: Item -->
        {% if intervention.admin!=null %}
        <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
          <span class="mr-4">
           <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo6\dist/../src/media/svg/icons\Communication\Shield-user.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <rect x="0" y="0" width="24" height="24"/>
                  <path d="M4,4 L11.6314229,2.5691082 C11.8750185,2.52343403 12.1249815,2.52343403 12.3685771,2.5691082 L20,4 L20,13.2830094 C20,16.2173861 18.4883464,18.9447835 16,20.5 L12.5299989,22.6687507 C12.2057287,22.8714196 11.7942713,22.8714196 11.4700011,22.6687507 L8,20.5 C5.51165358,18.9447835 4,16.2173861 4,13.2830094 L4,4 Z" fill="#000000" opacity="0.3"/>
                  <path d="M12,11 C10.8954305,11 10,10.1045695 10,9 C10,7.8954305 10.8954305,7 12,7 C13.1045695,7 14,7.8954305 14,9 C14,10.1045695 13.1045695,11 12,11 Z" fill="#000000" opacity="0.3"/>
                  <path d="M7.00036205,16.4995035 C7.21569918,13.5165724 9.36772908,12 11.9907452,12 C14.6506758,12 16.8360465,13.4332455 16.9988413,16.5 C17.0053266,16.6221713 16.9988413,17 16.5815,17 C14.5228466,17 11.463736,17 7.4041679,17 C7.26484009,17 6.98863236,16.6619875 7.00036205,16.4995035 Z" fill="#000000" opacity="0.3"/>
              </g>
          </svg><!--end::Svg Icon--></span>
          </span>
          <div class="d-flex flex-column text-dark-75">
            <span class="font-weight-bolder font-size-sm">Chargé</span>
            <span class="font-weight-bolder font-size-h5">
              <span class="text-dark-50 font-weight-bold"></span>{{ intervention.admin.Nom }}
            </span>
          </div>
        </div>
        {% else %}

        {% endif %}
        <!-- end: Item -->

        <!-- begin: Item -->
        <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
          <span class="mr-4">
           <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo6\dist/../src/media/svg/icons\Home\Timer.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <rect x="0" y="0" width="24" height="24"/>
                  <path d="M12,21 C7.581722,21 4,17.418278 4,13 C4,8.581722 7.581722,5 12,5 C16.418278,5 20,8.581722 20,13 C20,17.418278 16.418278,21 12,21 Z" fill="#000000" opacity="0.3"/>
                  <path d="M13,5.06189375 C12.6724058,5.02104333 12.3386603,5 12,5 C11.6613397,5 11.3275942,5.02104333 11,5.06189375 L11,4 L10,4 C9.44771525,4 9,3.55228475 9,3 C9,2.44771525 9.44771525,2 10,2 L14,2 C14.5522847,2 15,2.44771525 15,3 C15,3.55228475 14.5522847,4 14,4 L13,4 L13,5.06189375 Z" fill="#000000"/>
                  <path d="M16.7099142,6.53272645 L17.5355339,5.70710678 C17.9260582,5.31658249 18.5592232,5.31658249 18.9497475,5.70710678 C19.3402718,6.09763107 19.3402718,6.73079605 18.9497475,7.12132034 L18.1671361,7.90393167 C17.7407802,7.38854954 17.251061,6.92750259 16.7099142,6.53272645 Z" fill="#000000"/>
                  <path d="M11.9630156,7.5 L12.0369844,7.5 C12.2982526,7.5 12.5154733,7.70115317 12.5355117,7.96165175 L12.9585886,13.4616518 C12.9797677,13.7369807 12.7737386,13.9773481 12.4984096,13.9985272 C12.4856504,13.9995087 12.4728582,14 12.4600614,14 L11.5399386,14 C11.2637963,14 11.0399386,13.7761424 11.0399386,13.5 C11.0399386,13.4872031 11.0404299,13.4744109 11.0414114,13.4616518 L11.4644883,7.96165175 C11.4845267,7.70115317 11.7017474,7.5 11.9630156,7.5 Z" fill="#000000"/>
              </g>
          </svg><!--end::Svg Icon-->
          </span>
          </span>
          <div class="d-flex flex-column text-dark-75">
            <span class="font-weight-bolder font-size-sm">Durrée Intervention</span>
            <span class="font-weight-bolder font-size-h5">
              <span class="text-dark-50 font-weight-bold"></span>{{ intervention.DureeIntervention }} heures
            </span>
          </div>
        </div>
        <!-- end: Item -->

        <!-- begin: Item -->
        <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
          <span class="mr-4">
            <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo6\dist/../src/media/svg/icons\Files\Selected-file.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <polygon points="0 0 24 0 24 24 0 24"/>
                    <path d="M4.85714286,1 L11.7364114,1 C12.0910962,1 12.4343066,1.12568431 12.7051108,1.35473959 L17.4686994,5.3839416 C17.8056532,5.66894833 18,6.08787823 18,6.52920201 L18,19.0833333 C18,20.8738751 17.9795521,21 16.1428571,21 L4.85714286,21 C3.02044787,21 3,20.8738751 3,19.0833333 L3,2.91666667 C3,1.12612489 3.02044787,1 4.85714286,1 Z M8,12 C7.44771525,12 7,12.4477153 7,13 C7,13.5522847 7.44771525,14 8,14 L15,14 C15.5522847,14 16,13.5522847 16,13 C16,12.4477153 15.5522847,12 15,12 L8,12 Z M8,16 C7.44771525,16 7,16.4477153 7,17 C7,17.5522847 7.44771525,18 8,18 L11,18 C11.5522847,18 12,17.5522847 12,17 C12,16.4477153 11.5522847,16 11,16 L8,16 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                    <path d="M6.85714286,3 L14.7364114,3 C15.0910962,3 15.4343066,3.12568431 15.7051108,3.35473959 L20.4686994,7.3839416 C20.8056532,7.66894833 21,8.08787823 21,8.52920201 L21,21.0833333 C21,22.8738751 20.9795521,23 19.1428571,23 L6.85714286,23 C5.02044787,23 5,22.8738751 5,21.0833333 L5,4.91666667 C5,3.12612489 5.02044787,3 6.85714286,3 Z M8,12 C7.44771525,12 7,12.4477153 7,13 C7,13.5522847 7.44771525,14 8,14 L15,14 C15.5522847,14 16,13.5522847 16,13 C16,12.4477153 15.5522847,12 15,12 L8,12 Z M8,16 C7.44771525,16 7,16.4477153 7,17 C7,17.5522847 7.44771525,18 8,18 L11,18 C11.5522847,18 12,17.5522847 12,17 C12,16.4477153 11.5522847,16 11,16 L8,16 Z" fill="#000000" fill-rule="nonzero"/>
                </g>
            </svg><!--end::Svg Icon-->
            </span>
          </span>
          <div class="d-flex flex-column flex-lg-fill">
            <span class="text-dark-75 font-weight-bolder font-size-sm">
              Rapports
            </span>
            <a href="#" class="text-primary font-weight-bolder">{{ intervention.rapport|length }}</a>
          </div>
        </div>
        <!-- end: Item -->

        <!-- begin: Item -->
        <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
          <span class="mr-4">
            <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo6\dist/../src/media/svg/icons\Communication\Chat4.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <rect x="0" y="0" width="24" height="24"/>
                  <path d="M21.9999843,15.009808 L22.0249378,15 L22.0249378,19.5857864 C22.0249378,20.1380712 21.5772226,20.5857864 21.0249378,20.5857864 C20.7597213,20.5857864 20.5053674,20.4804296 20.317831,20.2928932 L18.0249378,18 L5,18 C3.34314575,18 2,16.6568542 2,15 L2,6 C2,4.34314575 3.34314575,3 5,3 L19,3 C20.6568542,3 22,4.34314575 22,6 L22,15 C22,15.0032706 21.9999948,15.0065399 21.9999843,15.009808 Z M6.16794971,10.5547002 C7.67758127,12.8191475 9.64566871,14 12,14 C14.3543313,14 16.3224187,12.8191475 17.8320503,10.5547002 C18.1384028,10.0951715 18.0142289,9.47430216 17.5547002,9.16794971 C17.0951715,8.86159725 16.4743022,8.98577112 16.1679497,9.4452998 C15.0109146,11.1808525 13.6456687,12 12,12 C10.3543313,12 8.9890854,11.1808525 7.83205029,9.4452998 C7.52569784,8.98577112 6.90482849,8.86159725 6.4452998,9.16794971 C5.98577112,9.47430216 5.86159725,10.0951715 6.16794971,10.5547002 Z" fill="#000000"/>
              </g>
           </svg><!--end::Svg Icon-->
           </span>
          </span>
          <div class="d-flex flex-column">
            <span class="text-dark-75 font-weight-bolder font-size-sm">
              Commentaires
            </span>
            <a href="#" class="text-primary font-weight-bolder">{{ intervention.commentaires|length }}</a>
          </div>
        </div>
        <!-- end: Item -->

        <!-- begin: Item -->
        <div class="d-flex align-items-center flex-lg-fill my-1">
          <span class="mr-4">
             <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo6\dist/../src/media/svg/icons\Communication\Group.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <polygon points="0 0 24 0 24 24 0 24"/>
                    <path d="M18,14 C16.3431458,14 15,12.6568542 15,11 C15,9.34314575 16.3431458,8 18,8 C19.6568542,8 21,9.34314575 21,11 C21,12.6568542 19.6568542,14 18,14 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                    <path d="M17.6011961,15.0006174 C21.0077043,15.0378534 23.7891749,16.7601418 23.9984937,20.4 C24.0069246,20.5466056 23.9984937,21 23.4559499,21 L19.6,21 C19.6,18.7490654 18.8562935,16.6718327 17.6011961,15.0006174 Z M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z" fill="#000000" fill-rule="nonzero"/>
                </g>
            </svg><!--end::Svg Icon-->
            </span>
          </span>
          {% if equipesIntervention is empty %}
         
          {% else %}
            <div class="symbol-group symbol-hover">
            {% for equipe in equipesIntervention %}
              {% for membre in equipe %}
                <div class="symbol symbol-30 symbol-circle"
                  data-toggle="tooltip"
                  title=""
                  data-original-title="Mark Stone">
                  <img alt="Pic" src="{{asset('Employes/Technicien/PhotosDeProfil/')~ membre.image}}" />
                </div>
              {% endfor %}
            {% endfor %}
              <div class="symbol symbol-30 symbol-circle symbol-light">
                <span class="symbol-label font-weight-bold">{{ equipesIntervention|length }}</span>
              </div>
            </div>
          {% endif %}
        </div>
        <!-- end: Item -->
      </div>
      <!-- begin: Items -->
    </div>
  </div>
  <!-- end::Card -->

  <!-- begin::Row -->
  <div class="row">
    {% if equipesIntervention is empty %}
      <div class="col-lg-8">
        <div class="card card-custom card-stretch gutter-b">
          <!-- begin::Header -->
          <div class="card-header border-0 py-5">
            <h3 class="card-title align-items-start flex-column">
              <span class="card-label font-weight-bolder text-dark">
                Affecter Une Equipe
              </span>
              <span class="text-muted mt-3 font-weight-bold font-size-sm">
                Vous n'avez pas encore d'equipe affectée a cette Intervention
              </span>
            </h3>
          </div>
          <!-- end::Header -->

          <!-- begin::Body -->
          <div class="card-body pt-0 pb-3">
            <!-- begin::Table -->
            <div class="table-responsive">
               <form class="form" action="{{path('AffecterEquipe',{'id':intervention.id })}}" method="post">
                <div class="card-body">
                    <div class="form-group row">
                    <label class="col-form-label text-right col-lg-3 col-sm-12">Equipes</label>
                    <div class=" col-lg-4 col-md-9 col-sm-12">
                        <select class="form-control" id="kt_select2_1" name="param">
                        {% for equipe in equipes %}     
                            <option value="{{equipe.NomEquipe}}">{{equipe.NomEquipe}}</option>
                        {% endfor %}
                        </select>
                    </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                    <div class="col-lg-9 ml-lg-auto">
                        <button type="submit" class="btn btn-primary mr-2">Enregistrer</button>
                        <button type="reset" class="btn btn-secondary">Annuler</button>
                    </div>
                    </div>
                </div>
                </form>
            </div>
            <!-- end::Table -->
          </div>
          <!-- end::Body -->
        </div>
      </div>
    {% else %}
      {% for equipe in equipesIntervention %}
        <div class="col-lg-8">
          <!-- begin::Advance Table Widget 3 -->
          <div class="card card-custom card-stretch gutter-b">
            <!-- begin::Header -->
            <div class="card-header border-0 py-5">
              <h3 class="card-title align-items-start flex-column">
                <span class="card-label font-weight-bolder text-dark">
                </span>
                <span class="text-muted mt-3 font-weight-bold font-size-sm">
                </span>
              </h3>
              <div class="card-toolbar">
                <a href="{{
                  path(
                    'AffecterEquipe',
                    {
                      id: intervention.id
                    }
                  )
                  }}"
                  >
                 <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo6\dist/../src/media/svg/icons\Code\Plus.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24"/>
                        <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                        <path d="M11,11 L11,7 C11,6.44771525 11.4477153,6 12,6 C12.5522847,6 13,6.44771525 13,7 L13,11 L17,11 C17.5522847,11 18,11.4477153 18,12 C18,12.5522847 17.5522847,13 17,13 L13,13 L13,17 C13,17.5522847 12.5522847,18 12,18 C11.4477153,18 11,17.5522847 11,17 L11,13 L7,13 C6.44771525,13 6,12.5522847 6,12 C6,11.4477153 6.44771525,11 7,11 L11,11 Z" fill="#000000"/>
                    </g>
                </svg><!--end::Svg Icon-->
                </span>
                </a>
              </div>
            </div>
            <!-- end::Header -->

            <!-- begin::Body -->
            <div class="card-body pt-0 pb-3">
              <!-- begin::Table -->
              <div class="table-responsive">
                <table class="table table-head-custom table-head-bg table-borderless table-vertical-center">
                  <thead>
                    <tr class="text-uppercase">
                      <th style="min-width: 100px">
                        NomEquipe
                      </th>
                      <th style="min-width: 100px">
                        ChefEquipe
                      </th>
                      <th style="min-width: 100px">
                        TypeEquipe
                      </th>
                      <th style="min-width: 110px">
                        Statut
                      </th>
                      <th style="min-width: 130px">
                        Action
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <span class="text-dark-75 font-weight-bolder d-block font-size-lg">
                          {{ equipe.NomEquipe }}
                        </span>
                        <span class="text-muted font-weight-bold">Paid</span>
                      </td>
                      <td>
                        <span class="text-dark-75 font-weight-bolder d-block font-size-lg">
                          {{ equipe.technicienChef }}
                        </span>
                        <span class="text-muted font-weight-bold">Paid</span>
                      </td>
                      <td>
                        <span class="text-dark-75 font-weight-bolder d-block font-size-lg">
                          {{ equipe.Type }}
                        </span>
                        <span class="text-muted font-weight-bold">
                          Insurance
                        </span>
                      </td>
                      <td>
                        <span class="label label-lg label-light-primary label-inline">
                          En Intervention
                        </span>
                      </td>
                      <td class="text-right pr-0">
                        <a href="{{
                          path(
                            'ModifierEquipe',
                            {
                              id: equipe.id
                            }
                          )
                          }}"
                          class="btn btn-icon btn-light btn-hover-primary btn-sm mr-3">
                          <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo6\dist/../src/media/svg/icons\Code\Info-circle.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                  <rect x="0" y="0" width="24" height="24"/>
                                  <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                  <rect fill="#000000" x="11" y="10" width="2" height="7" rx="1"/>
                                  <rect fill="#000000" x="11" y="7" width="2" height="2" rx="1"/>
                              </g>
                          </svg><!--end::Svg Icon-->
                          </span>
                        </a>
                        <a href="#"
                          class="btn btn-icon btn-light btn-hover-primary btn-sm">
                          <span class="svg-icon svg-icon-md svg-icon-primary">
                            <!-- begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg -->
                            <svg xmlns="http://www.w3.org/2000/svg"
                              xmlns:xlink="http://www.w3.org/1999/xlink"
                              width="24px"
                              height="24px"
                              viewBox="0 0 24 24"
                              version="1.1">
                              <g stroke="none"
                                stroke-width="1"
                                fill="none"
                                fill-rule="evenodd">
                                <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                <rect fill="#000000"
                                  opacity="0.3"
                                  transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000) "
                                  x="11"
                                  y="5"
                                  width="2"
                                  height="14"
                                  rx="1"></rect>
                                <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z"
                                  fill="#000000"
                                  fill-rule="nonzero"
                                  transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997) "></path>
                              </g>
                            </svg>
                            <!-- end::Svg Icon -->
                          </span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- end::Table -->
            </div>
            <!-- end::Body -->
          </div>
          <!-- end::Advance Table Widget 3 -->
        </div>
        <div class="col-lg-4">
          <!-- begin::Charts Widget 3 -->
          <div class="card card-custom card-stretch gutter-b">
            <!-- begin::Header -->
            <div class="card-header h-auto border-0">
              <div class="card-title py-5">
                <h3 class="card-label">
                  <span class="d-block text-dark font-weight-bolder">
                    Statistiques
                  </span>
                  <span class="d-block text-muted mt-2 font-size-sm">
                    Des Intervention Realisés par {{ equipe.NomEquipe }}
                  </span>
                </h3>
              </div>
              <div class="card-toolbar">
                <ul class="nav nav-pills nav-pills-sm nav-dark-75"
                  role="tablist">
                  <li class="nav-item">
                    <a class="nav-link py-2 px-4"
                      data-toggle="tab"
                      href="#kt_charts_widget_2_chart_tab_1">
                      <span class="nav-text font-size-sm">Mois</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link py-2 px-4"
                      data-toggle="tab"
                      href="#kt_charts_widget_2_chart_tab_2">
                      <span class="nav-text font-size-sm">Semaines</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link py-2 px-4 active"
                      data-toggle="tab"
                      href="#kt_charts_widget_2_chart_tab_3">
                      <span class="nav-text font-size-sm">Jours</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- end::Header -->

            <!-- begin::Body -->
            <div id="chart">
            
            </div>
            <!-- end::Body -->
          </div>
          <!-- end::Charts Widget 3 -->
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <!-- end::Row -->

  <!-- begin::Row -->
  <div class="row">
    <div class="col-lg-4">
      <!-- begin::List Widget 14 -->
      <div class="card card-custom card-stretch gutter-b">
        <!-- begin::Header -->
        <div class="card-header border-0">
          <h3 class="card-title font-weight-bolder text-dark">
            Equipements
          </h3>
          <div class="card-toolbar">
            <div class="dropdown dropdown-inline">
              <button type="button"
                class="btn btn-clean btn-hover-light-primary btn-sm btn-icon"
                data-toggle="modal"
                data-target="#exampleModal">
                <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo6\dist/../src/media/svg/icons\Code\Plus.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24"/>
                        <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                        <path d="M11,11 L11,7 C11,6.44771525 11.4477153,6 12,6 C12.5522847,6 13,6.44771525 13,7 L13,11 L17,11 C17.5522847,11 18,11.4477153 18,12 C18,12.5522847 17.5522847,13 17,13 L13,13 L13,17 C13,17.5522847 12.5522847,18 12,18 C11.4477153,18 11,17.5522847 11,17 L11,13 L7,13 C6.44771525,13 6,12.5522847 6,12 C6,11.4477153 6.44771525,11 7,11 L11,11 Z" fill="#000000"/>
                    </g>
                </svg>
                <!--end::Svg Icon-->
                </span>
              </button>
              <div class="modal fade"
                id="exampleModal"
                tabindex="-1"
                role="dialog"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <form class="form"
                    action="{{
                    path(
                      'AffecterEquipement',
                      {
                        id: intervention.id
                      }
                    )
                    }}"
                    method="post">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                          Ajouter Un equipement
                        </h5>
                        <button type="button"
                          class="close"
                          data-dismiss="modal"
                          aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <select class="form-control select2"
                          id="kt_select2_1"
                          name="param">
                          {% for equipement in equipements %}
                            <option value="{{ equipement.Libelle }}">
                              {{ equipement.Libelle }}
                            </option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="modal-footer">
                        <button type="button"
                          class="btn btn-secondary"
                          data-dismiss="modal">
                          Annuler
                        </button>
                        <button type="submit" class="btn btn-primary">
                          Sauvegarder
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end::Header -->

        <!-- begin::Body -->
        <div class="card-body pt-2">
          <!-- begin::Item -->
          {% if equipementsIntervention is empty %}
            <!-- begin::Item -->
            <div class="mb-10">
              <!-- begin::Section -->
              <div class="d-flex align-items-center">
              <div class="d-flex flex-column flex-grow-1">
                  <div class="alert alert-custom alert-light-warning fade show py-4" role="alert">
                      <div class="alert-icon"><i class="flaticon-warning"></i></div>
                      <div class="alert-text font-weight-bold">
                        Aucun Equipement Selectionner Pour cette Intervention
                        Cliquer sur Le Boutton + Pour en Ajouter
                      </div>
                      <div class="alert-close">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true"><i class="la la-close "></i></span>
                          </button>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          {% else %}
            {% for equipement in equipementsIntervention %}
              <div class="d-flex flex-wrap align-items-center mb-10">
                <!-- begin::Symbol -->
                <div class="symbol symbol-60 symbol-2by3 flex-shrink-0 mr-4">
                  {% if equipement.Image != null %}
                    <div class="symbol-label"
                      style="background-image: url('{{
                      asset('Interventions/Equipements/Images/')
                        ~ equipement.Image
                      }}')"></div>
                  {% else %}
                    <div class="symbol-label"
                      style="background-image: url('{{
                      asset(
                        'Admins/Assets/media/users/blank.png'
                      )
                      }}')"></div>
                  {% endif %}
                </div>
                <!-- end::Symbol -->

                <!-- begin::Title -->
                <div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pr-3">
                  <a href="#"
                    class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg">
                    {{ equipement.Libelle }}
                  </a>
                  <span class="text-muted font-weight-bold font-size-sm my-1">
                    {{ equipement.TypeEquipement }}
                  </span>
                  <span class="text-muted font-weight-bold font-size-sm">
                    {# Created by: #}
                    <span class="text-primary font-weight-bold">
                      <a href="{{
                        path(
                          'InfosEquipement',
                          {
                            id: equipement.id
                          }
                        )
                        }}"
                        class="btn btn-sm btn-default btn-text-primary btn-hover-primary btn-icon mr-2"
                        title="Plus d'Informations Sur L'Equipement">
                       <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo6\dist/../src/media/svg/icons\Code\Info-circle.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                  <rect x="0" y="0" width="24" height="24"></rect>
                                  <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"></circle>
                                  <rect fill="#000000" x="11" y="10" width="2" height="7" rx="1"></rect>
                                  <rect fill="#000000" x="11" y="7" width="2" height="2" rx="1"></rect>
                              </g>
                      </svg><!--end::Svg Icon-->
                      </span>
                      </a>
                    </span>
                  </span>
                </div>
                <!-- end::Title -->

                <!-- begin::Info -->
                <div class="d-flex align-items-center py-lg-0 py-2">
                  <div class="d-flex flex-column text-right">
                    <span class="text-dark-75 font-weight-bolder font-size-h4">
                      {{ equipement.NombreUtilisation }}
                    </span>
                    <span class="text-muted font-size-sm font-weight-bolder">
                     Fois
                    </span>
                  </div>
                </div>
                <!-- end::Info -->
              </div>
            {% endfor %}
          {% endif %}
          <!-- end::Item -->
        </div>
        <!-- end::Body -->
      </div>
      <!-- end::List Widget 14 -->
    </div>
    <div class="col-lg-4">
      <!-- begin::Charts Widget 1 -->
      <div class="card card-custom card-stretch gutter-b">
        <!-- begin::Header -->
        <div class="card-header h-auto border-0">
          <!-- begin::Title -->
          <div class="card-title py-5">
            <h3 class="card-label">
              <span class="d-block text-dark font-weight-bolder">
                Commentaires
              </span>
              <span class="d-block text-muted mt-2 font-size-sm">
                {{ intervention.commentaires|length }} Commentaires Concernant Cette Intervention
              </span>
            </h3>
          </div>
          <!-- end::Title -->

          <!-- begin::Toolbar -->
          <div class="card-toolbar">
            <div class="dropdown dropdown-inline">
              <a href="#"
                class="btn btn-clean btn-hover-light-primary btn-sm btn-icon"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
                <i class="ki ki-bold-more-hor"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
                <!-- begin::Naviigation -->
                <ul class="navi">
                  <li class="navi-header font-weight-bold py-5">
                    <span class="font-size-lg">Add New:</span>
                    <i class="flaticon2-information icon-md text-muted"
                      data-toggle="tooltip"
                      data-placement="right"
                      title=""
                      data-original-title="Click to learn more...">

                    </i>
                  </li>
                  <li class="navi-separator mb-3 opacity-70"></li>
                  <li class="navi-item">
                    <a href="#" class="navi-link">
                      <span class="navi-icon">
                        <i class="flaticon2-shopping-cart-1"></i>
                      </span>
                      <span class="navi-text">Order</span>
                    </a>
                  </li>
                  <li class="navi-item">
                    <a href="#" class="navi-link">
                      <span class="navi-icon">
                        <i class="navi-icon flaticon2-calendar-8"></i>
                      </span>
                      <span class="navi-text">Members</span>
                      <span class="navi-label">
                        <span class="label label-light-danger label-rounded font-weight-bold">
                          3
                        </span>
                      </span>
                    </a>
                  </li>
                  <li class="navi-item">
                    <a href="#" class="navi-link">
                      <span class="navi-icon">
                        <i class="navi-icon flaticon2-telegram-logo"></i>
                      </span>
                      <span class="navi-text">Project</span>
                    </a>
                  </li>
                  <li class="navi-item">
                    <a href="#" class="navi-link">
                      <span class="navi-icon">
                        <i class="navi-icon flaticon2-new-email"></i>
                      </span>
                      <span class="navi-text">Record</span>
                      <span class="navi-label">
                        <span class="label label-light-success label-rounded font-weight-bold">
                          5
                        </span>
                      </span>
                    </a>
                  </li>
                  <li class="navi-separator mt-3 opacity-70"></li>
                  <li class="navi-footer pt-5 pb-4">
                    <a class="btn btn-light-primary font-weight-bolder btn-sm"
                      href="#">
                      More options
                    </a>
                    <a class="btn btn-clean font-weight-bold btn-sm d-none"
                      href="#"
                      data-toggle="tooltip"
                      data-placement="right"
                      title=""
                      data-original-title="Click to learn more...">
                      Learn more
                    </a>
                  </li>
                </ul>
                <!-- end::Naviigation -->
              </div>
            </div>
          </div>
          <!-- end::Toolbar -->
        </div>
        <!-- end::Header -->

        <!-- begin::Body -->
        {% if intervention.commentaires is empty %}
        <div class="card-body pt-0">
            <!-- begin::Item -->
            <div class="mb-10">
              <!-- begin::Section -->
              <div class="d-flex align-items-center">
              <div class="d-flex flex-column flex-grow-1">
                  <div class="alert alert-custom alert-light-warning fade show py-4" role="alert">
                      <div class="alert-icon"><i class="flaticon-warning"></i></div>
                      <div class="alert-text font-weight-bold">
                        Aucun Commentaires Disponible
                      </div>
                      <div class="alert-close">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true"><i class="la la-close "></i></span>
                          </button>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        {% else %}
          {% for commentaire in intervention.commentaires %}
            <div class="card-body pt-0">
              <!-- begin::Item -->
              <div class="mb-10">
                <!-- begin::Section -->
                <div class="d-flex align-items-center">
                  <!-- begin::Symbol -->
                  <div class="symbol symbol-45 symbol-light mr-5">
                    <span class="symbol-label">
                      <img src="assets/media/svg/misc/006-plurk.svg"
                        class="h-50 align-self-center"
                        alt="" />
                    </span>
                  </div>
                  <!-- end::Symbol -->

                  <!-- begin::Text -->
                  <div class="d-flex flex-column flex-grow-1">
                    <a href="#"
                      class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">
                      {{ commentaire.client.Nom }}  {{ commentaire.client.Prenom }}
                    </a>
                    <span class="text-muted font-weight-bold">{{ commentaire.DateEnvoie }}</span>
                  </div>
                  <!-- end::Text -->
                </div>
                <!-- end::Section -->

                <!-- begin::Desc -->
                <p class="text-dark-50 m-0 pt-5 font-weight-normal">
                  {{commentaire.Contenu}}
                </p>
                <!-- end::Desc -->
              </div>
              <!-- end::Item -->
            </div>
          {% endfor %}
        {% endif %}
        <!-- end::Body -->
      </div>
      <!-- end::Charts Widget 1 -->
    </div>
    <div class="col-lg-4">
      <!-- begin::List Widget 8 -->
      <div class="card card-custom card-stretch gutter-b">
        <!-- begin::Header -->
        <div class="card-header border-0">
          <h3 class="card-title font-weight-bolder text-dark">
            Rapports
          </h3>
          <div class="card-toolbar">
            <div class="dropdown dropdown-inline">
              <a href="#"
                class="btn btn-clean btn-hover-light-primary btn-sm btn-icon"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
                <i class="ki ki-bold-more-ver"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                <!-- begin::Navigation -->
                <ul class="navi navi-hover">
                  <li class="navi-item">
                    <a href="{{path('AjouterRapportIntervention',{'id':intervention.id})}}" class="navi-link">
                       <span class="svg-icon svg-icon-primary svg-icon-2x">
                          <!-- begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo6\dist/../src/media/svg/icons\Code\Plus.svg -->
                          <svg xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            width="24px"
                            height="24px"
                            viewBox="0 0 24 24"
                            version="1.1">
                            <g stroke="none"
                              stroke-width="1"
                              fill="none"
                              fill-rule="evenodd">
                              <rect x="0" y="0" width="24" height="24" />
                              <circle fill="#000000"
                                opacity="0.3"
                                cx="12"
                                cy="12"
                                r="10" />
                              <path d="M11,11 L11,7 C11,6.44771525 11.4477153,6 12,6 C12.5522847,6 13,6.44771525 13,7 L13,11 L17,11 C17.5522847,11 18,11.4477153 18,12 C18,12.5522847 17.5522847,13 17,13 L13,13 L13,17 C13,17.5522847 12.5522847,18 12,18 C11.4477153,18 11,17.5522847 11,17 L11,13 L7,13 C6.44771525,13 6,12.5522847 6,12 C6,11.4477153 6.44771525,11 7,11 L11,11 Z"
                                fill="#000000" />
                            </g>
                          </svg>
                          <!-- end::Svg Icon -->
                        </span>
                      <span class="navi-text">Ajouter</span>
                    </a>
                  </li>
                </ul>
                <!-- end::Navigation -->
              </div>
            </div>
          </div>
        </div>
        <!-- end::Header -->

        <!-- begin::Body -->
        {% if intervention.rapport is empty %}
        <div class="card-body pt-0">
            <!-- begin::Item -->
            <div class="mb-10">
              <!-- begin::Section -->
              <div class="d-flex align-items-center">
              <div class="d-flex flex-column flex-grow-1">
                  <div class="alert alert-custom alert-light-warning fade show py-4" role="alert">
                      <div class="alert-icon"><i class="flaticon-warning"></i></div>
                      <div class="alert-text font-weight-bold">
                        Aucun Rapport Pour cette Intervention
                      </div>
                      <div class="alert-close">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true"><i class="la la-close "></i></span>
                          </button>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        {% else %}
        {% for rapport in  intervention.rapport %}
          <div class="card-body pt-0">
            <!-- begin::Item -->
            <div class="mb-10">
              <!-- begin::Section -->
              <div class="d-flex align-items-center">
                <!-- begin::Symbol -->
                <div class="symbol symbol-45 symbol-light mr-5">
                  <span class="symbol-label">
                    <img src="{{ asset('Employes/Technicien/PhotosDeProfil/')~ rapport.employe.image }}"
                      class="h-50 align-self-center"
                      alt="" />
                  </span>
                </div>
                <!-- end::Symbol -->

                <!-- begin::Text -->
                <div class="d-flex flex-column flex-grow-1">
                  <a href="#"
                    class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg">
                    {{ rapport.employe.Nom }}  {{ rapport.employe.Prenom }}
                  </a>
                  <span class="text-muted font-weight-bold">Le  {{ rapport.DateEnvoi|date('d/m/y') }}</span>
                  <span class="text-muted font-weight-bold font-size-sm">
                    {# Created by: #}
                    <span class="text-primary font-weight-bold">
                      <a href="{{path('InfosRapportEmploye',{'id':rapport.id})}}"
                        class="btn btn-sm btn-default btn-text-primary btn-hover-primary btn-icon mr-2"
                        title="Plus d'Informations Sur Le Rapport N {{rapport.id}}">
                        <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo6\dist/../src/media/svg/icons\Code\Info-circle.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                  <rect x="0" y="0" width="24" height="24"></rect>
                                  <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"></circle>
                                  <rect fill="#000000" x="11" y="10" width="2" height="7" rx="1"></rect>
                                  <rect fill="#000000" x="11" y="7" width="2" height="2" rx="1"></rect>
                              </g>
                      </svg><!--end::Svg Icon-->
                      </span>
                    </a>
                  </span>
                </div>
                <!-- end::Text -->
              </div>
              <!-- end::Section -->

              <!-- begin::Desc -->
             
              <!-- end::Desc -->
            </div>
            <!-- end::Item -->
          </div>
        {% endfor %}
        {% endif %}
        <!-- end::Body -->
      </div>
      <!-- end: Card -->
      <!-- end::List Widget 8 -->
    </div>
  </div>
  <!-- end::Row -->
  </div>
{% endblock %}

{% block Scripts %}
  {% include 'Employes_dashboard/Components/Scripts.html.twig' %}
  <script src="{{ asset('Employes/Assets/js/pages/widgets.js') }}"></script>
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>
  <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
  <script src="{{
    asset(
      'Employes/Assets/js/pages/custom/projects/add-project.js'
    )
    }}"></script>
  <script src="{{ asset('Geolocation/AjoutPosition/js/GeolocationForm.js') }}"></script>
  <script src="{{
    asset(
      'Employes/Assets/js/pages/crud/forms/widgets/select2.js'
    )
    }}"></script>
    <script>
      var options = {
        series: [{
        name: 'series1',
        data: [31, 40, 28, 51, 42, 109, 100]
      }, {
        name: 'series2',
        data: [11, 32, 45, 32, 34, 52, 41]
      }],
        chart: {
        height: 350,
        type: 'area'
      },
      dataLabels: {
        enabled: false
      },
      stroke: {
        curve: 'smooth'
      },
      xaxis: {
        type: 'datetime',
        categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
      },
      tooltip: {
        x: {
          format: 'dd/MM/yy HH:mm'
        },
      },
      };

      var chart = new ApexCharts(document.querySelector("#chart"), options);
      chart.render();
    </script>
{% endblock %}
