{% extends 'AdminsBase.html.twig' %}

{% block Css %}
    {% include('admins_dashboard/Components/Css.html.twig') %}
    <link href="{{ asset('Admins/Assets/css/pages/wizard/wizard-1.css') }}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">
{% endblock %}


{% block Entete %}
  {% include 'admins_dashboard/Components/InfosInterventionHeader.html.twig' %}
{% endblock %}

{% block Contenu %}
    <div class="card card-custom gutter-b">
      <div class="card-body">
        <div class="d-flex">
          <!-- begin: Pic -->
          <div class="flex-shrink-0 mr-7 mt-lg-0 mt-3">
            <div class="symbol symbol-50 symbol-lg-120">
                {% if intervention.client is empty %}							
                  <img class="" src="{{asset('Admins/Assets/media/users/blank.png')}}" alt="Pas De Photo De Profil">		
                {% else %}
                  <img src="{{asset('Clients/PhotosDeProfil/')~ intervention.client.image}}" alt="Pic" />
                {% endif %}	
            </div>

            <div class="symbol symbol-50 symbol-lg-120 symbol-primary d-none">
              <span class="font-size-h3 symbol-label font-weight-boldest">
                JM
              </span>
            </div>
          </div>
          <!-- end: Pic -->

          <!-- begin: Info -->
          <div class="flex-grow-1">
            <!-- begin: Title -->
            <div class="d-flex align-items-center justify-content-between flex-wrap">
              <div class="mr-3">
                <!-- begin::Name -->
                {% if intervention.Titre!=null %}
                    <a href="#"
                    class="d-flex align-items-center text-dark text-hover-primary font-size-h5 font-weight-bold mr-3">
                    {{ intervention.Titre }} <i class="flaticon2-correct text-success icon-md ml-2"></i>
                    </a>
                    {% else %}
                    <span>
                        Ajouter Un Titre 
                    </span>
                {% endif %}

                <!-- end::Name -->

                <!-- begin::Contacts -->
                <div class="d-flex flex-wrap my-2">
                  <a href="#"
                    class="text-muted text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
                    <span class="svg-icon svg-icon-md svg-icon-gray-500 mr-1">
                      <!-- begin::Svg Icon | path:assets/media/svg/icons/Communication/Mail-notification.svg -->
                      <svg xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="24px"
                        height="24px"
                        viewBox="0 0 24 24"
                        version="1.1">
                        <g stroke="none"
                          stroke-width="1"
                          fill="none"
                          fill-rule="evenodd">
                          <rect x="0" y="0" width="24" height="24"></rect>
                          <path d="M21,12.0829584 C20.6747915,12.0283988 20.3407122,12 20,12 C16.6862915,12 14,14.6862915 14,18 C14,18.3407122 14.0283988,18.6747915 14.0829584,19 L5,19 C3.8954305,19 3,18.1045695 3,17 L3,8 C3,6.8954305 3.8954305,6 5,6 L19,6 C20.1045695,6 21,6.8954305 21,8 L21,12.0829584 Z M18.1444251,7.83964668 L12,11.1481833 L5.85557487,7.83964668 C5.4908718,7.6432681 5.03602525,7.77972206 4.83964668,8.14442513 C4.6432681,8.5091282 4.77972206,8.96397475 5.14442513,9.16035332 L11.6444251,12.6603533 C11.8664074,12.7798822 12.1335926,12.7798822 12.3555749,12.6603533 L18.8555749,9.16035332 C19.2202779,8.96397475 19.3567319,8.5091282 19.1603533,8.14442513 C18.9639747,7.77972206 18.5091282,7.6432681 18.1444251,7.83964668 Z"
                            fill="#000000"></path>
                          <circle fill="#000000"
                            opacity="0.3"
                            cx="19.5"
                            cy="17.5"
                            r="2.5"></circle>
                        </g>
                      </svg>
                      <!-- end::Svg Icon -->
                    </span>
                    {% if intervention.client is empty %}
                      Pas Encore de Client Defini
                    {% else %} 
                      {{ intervention.client.email }}
                    {% endif %}
                  </a>
                  <a href="#"
                    class="text-muted text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
                    <span class="svg-icon svg-icon-md svg-icon-gray-500 mr-1">
                      <!-- begin::Svg Icon | path:assets/media/svg/icons/General/Lock.svg -->
                      <svg xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="24px"
                        height="24px"
                        viewBox="0 0 24 24"
                        version="1.1">
                        <g stroke="none"
                          stroke-width="1"
                          fill="none"
                          fill-rule="evenodd">
                          <mask fill="white">
                            <use xlink:href="#path-1"></use>
                          </mask>
                          <g></g>
                          <path d="M7,10 L7,8 C7,5.23857625 9.23857625,3 12,3 C14.7614237,3 17,5.23857625 17,8 L17,10 L18,10 C19.1045695,10 20,10.8954305 20,12 L20,18 C20,19.1045695 19.1045695,20 18,20 L6,20 C4.8954305,20 4,19.1045695 4,18 L4,12 C4,10.8954305 4.8954305,10 6,10 L7,10 Z M12,5 C10.3431458,5 9,6.34314575 9,8 L9,10 L15,10 L15,8 C15,6.34314575 13.6568542,5 12,5 Z"
                            fill="#000000"></path>
                        </g>
                      </svg>
                      <!-- end::Svg Icon -->
                    </span>
                    {% if intervention.client is empty %}
                      Pas Encore de Client Defini 
                    {% else %}
                      {{ intervention.client.Nom }} {{ intervention.client.Prenom }}
                    {% endif %}
                  </a>
                  <a href="#"
                    class="text-muted text-hover-primary font-weight-bold">
                    <span class="svg-icon svg-icon-md svg-icon-gray-500 mr-1">
                      <!-- begin::Svg Icon | path:assets/media/svg/icons/Map/Marker2.svg -->
                      <svg xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="24px"
                        height="24px"
                        viewBox="0 0 24 24"
                        version="1.1">
                        <g stroke="none"
                          stroke-width="1"
                          fill="none"
                          fill-rule="evenodd">
                          <rect x="0" y="0" width="24" height="24"></rect>
                          <path d="M9.82829464,16.6565893 C7.02541569,15.7427556 5,13.1079084 5,10 C5,6.13400675 8.13400675,3 12,3 C15.8659932,3 19,6.13400675 19,10 C19,13.1079084 16.9745843,15.7427556 14.1717054,16.6565893 L12,21 L9.82829464,16.6565893 Z M12,12 C13.1045695,12 14,11.1045695 14,10 C14,8.8954305 13.1045695,8 12,8 C10.8954305,8 10,8.8954305 10,10 C10,11.1045695 10.8954305,12 12,12 Z"
                            fill="#000000"></path>
                        </g>
                      </svg>
                      <!-- end::Svg Icon -->
                    </span> Localiser Intervention
                  </a>
                </div>
                <!-- end::Contacts -->
              </div>
              <div class="my-lg-0 my-1">
                <a href="#"
                  class="btn btn-sm btn-light-success font-weight-bolder text-uppercase mr-3">
                  Reports
                </a>
                <a href="#"
                  class="btn btn-sm btn-info font-weight-bolder text-uppercase">
                  New Task
                </a>
              </div>
            </div>
            <!-- end: Title -->

            <!-- begin: Content -->
            <div class="d-flex align-items-center flex-wrap justify-content-between">
              <div class="flex-grow-1 font-weight-bold text-dark-50 py-5 py-lg-2 mr-5">
              {% if intervention.description!=null %}
                {{intervention.Description}}
              {% else %}
                Ajouter Une Description
              {% endif %}
              </div>

              <div class="d-flex flex-wrap align-items-center py-2">
                <div class="d-flex align-items-center mr-10">
                  <div class="mr-6">
                    <div class="font-weight-bold mb-2">
                      Date Debut
                    </div>
                    <span class="btn btn-sm btn-text btn-light-danger text-uppercase font-weight-bold">
                    {% if intervention.DateDebutIntervention!=null %}
                      {{ intervention.DateDebutIntervention|date('d-m-Y') }}
                    {% else %}
                      N/A
                    {% endif %}
                    </span>
                  </div>
                  <div class="">
                    <div class="font-weight-bold mb-2">
                      Date Fin
                    </div>
                    <span class="btn btn-sm btn-text btn-light-danger text-uppercase font-weight-bold">
                    {% if intervention.DateFinIntervention!=null %}
                        {{ intervention.DateFinIntervention|date('d-m-Y') }}
                    {% else %}
                        N/A
                    {% endif %}
                    </span>
                  </div>
                </div>
                <div class="flex-grow-1 flex-shrink-0 w-150px w-xl-300px mt-4 mt-sm-0">
                  <span class="font-weight-bold">Progression</span>
                  <div class="progress progress-xs mt-2 mb-2">
                    <div class="progress-bar bg-success"
                      role="progressbar"
                      style="width: 63%;"
                      aria-valuenow="50"
                      aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span class="font-weight-bolder text-dark">78%</span>
                </div>
              </div>
            </div>
            <!-- end: Content -->
          </div>
          <!-- end: Info -->
        </div>

        <div class="separator separator-solid my-7"></div>

        <!-- begin: Items -->
        <div class="d-flex align-items-center flex-wrap">
          <!-- begin: Item -->
          <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
            <span class="mr-4">
              <i class="flaticon-piggy-bank icon-2x text-muted font-weight-bold">

              </i>
            </span>
            <div class="d-flex flex-column text-dark-75">
              <span class="font-weight-bolder font-size-sm">Earnings</span>
              <span class="font-weight-bolder font-size-h5">
                <span class="text-dark-50 font-weight-bold">$</span>249,500
              </span>
            </div>
          </div>
          <!-- end: Item -->

          <!-- begin: Item -->
          <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
            <span class="mr-4">
              <i class="flaticon-confetti icon-2x text-muted font-weight-bold">

              </i>
            </span>
            <div class="d-flex flex-column text-dark-75">
              <span class="font-weight-bolder font-size-sm">Expenses</span>
              <span class="font-weight-bolder font-size-h5">
                <span class="text-dark-50 font-weight-bold">$</span>164,700
              </span>
            </div>
          </div>
          <!-- end: Item -->

          <!-- begin: Item -->
          <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
            <span class="mr-4">
              <i class="flaticon-pie-chart icon-2x text-muted font-weight-bold">

              </i>
            </span>
            <div class="d-flex flex-column text-dark-75">
              <span class="font-weight-bolder font-size-sm">Net</span>
              <span class="font-weight-bolder font-size-h5">
                <span class="text-dark-50 font-weight-bold">$</span>782,300
              </span>
            </div>
          </div>
          <!-- end: Item -->

          <!-- begin: Item -->
          <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
            <span class="mr-4">
              <i class="flaticon-file-2 icon-2x text-muted font-weight-bold">

              </i>
            </span>
            <div class="d-flex flex-column flex-lg-fill">
              <span class="text-dark-75 font-weight-bolder font-size-sm">
                Rapports
              </span>
              <a href="#" class="text-primary font-weight-bolder">Consulter</a>
            </div>
          </div>
          <!-- end: Item -->

          <!-- begin: Item -->
          <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
            <span class="mr-4">
              <i class="flaticon-chat-1 icon-2x text-muted font-weight-bold">

              </i>
            </span>
            <div class="d-flex flex-column">
              <span class="text-dark-75 font-weight-bolder font-size-sm">
                Commentaires
              </span>
              <a href="#" class="text-primary font-weight-bolder">Consulter</a>
            </div>
          </div>
          <!-- end: Item -->

          <!-- begin: Item -->
          <div class="d-flex align-items-center flex-lg-fill my-1">
            <span class="mr-4">
              <i class="flaticon-network icon-2x text-muted font-weight-bold">

              </i>
            </span>
            {# <div class="symbol-group symbol-hover">
              <div class="symbol symbol-30 symbol-circle"
                data-toggle="tooltip"
                title=""
                data-original-title="Mark Stone">
                <img alt="Pic" src="assets/media/users/300_25.jpg" />
              </div>
              <div class="symbol symbol-30 symbol-circle"
                data-toggle="tooltip"
                title=""
                data-original-title="Charlie Stone">
                <img alt="Pic" src="assets/media/users/300_19.jpg" />
              </div>
              <div class="symbol symbol-30 symbol-circle"
                data-toggle="tooltip"
                title=""
                data-original-title="Luca Doncic">
                <img alt="Pic" src="assets/media/users/300_22.jpg" />
              </div>
              <div class="symbol symbol-30 symbol-circle"
                data-toggle="tooltip"
                title=""
                data-original-title="Nick Mana">
                <img alt="Pic" src="assets/media/users/300_23.jpg" />
              </div>
              <div class="symbol symbol-30 symbol-circle"
                data-toggle="tooltip"
                title=""
                data-original-title="Teresa Fox">
                <img alt="Pic" src="assets/media/users/300_18.jpg" />
              </div>
              <div class="symbol symbol-30 symbol-circle symbol-light">
                <span class="symbol-label font-weight-bold">5+</span>
              </div>
            </div> #}
          </div>
          <!-- end: Item -->
        </div>
        <!-- begin: Items -->
      </div>
    </div>
    <!-- end::Card -->

    <!-- begin::Row -->
    {% include 'admins_dashboard/Components/AjouterInterventionHeader.html.twig' %}
  <div class="card card-custom">
    <div class="card-body p-0">
      <div class="wizard wizard-1"
        id="kt_projects_add"
        data-wizard-state="first"
        data-wizard-clickable="true">
        <div class="kt-grid__item">
          <!-- begin::Wizard Nav -->
          <div class="wizard-nav border-bottom">
            <div class="wizard-steps p-8 p-lg-10">
              <div class="wizard-step"
                data-wizard-type="step"
                data-wizard-state="current">
                <div class="wizard-label">
                  <span class="svg-icon svg-icon-4x wizard-icon">
                    <!-- begin::Svg Icon | path:assets/media/svg/icons/Communication/Chat-check.svg -->
                    <svg xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="24px"
                      height="24px"
                      viewBox="0 0 24 24"
                      version="1.1">
                      <g stroke="none"
                        stroke-width="1"
                        fill="none"
                        fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24"></rect>
                        <path d="M4.875,20.75 C4.63541667,20.75 4.39583333,20.6541667 4.20416667,20.4625 L2.2875,18.5458333 C1.90416667,18.1625 1.90416667,17.5875 2.2875,17.2041667 C2.67083333,16.8208333 3.29375,16.8208333 3.62916667,17.2041667 L4.875,18.45 L8.0375,15.2875 C8.42083333,14.9041667 8.99583333,14.9041667 9.37916667,15.2875 C9.7625,15.6708333 9.7625,16.2458333 9.37916667,16.6291667 L5.54583333,20.4625 C5.35416667,20.6541667 5.11458333,20.75 4.875,20.75 Z"
                          fill="#000000"
                          fill-rule="nonzero"
                          opacity="0.3"></path>
                        <path d="M2,11.8650466 L2,6 C2,4.34314575 3.34314575,3 5,3 L19,3 C20.6568542,3 22,4.34314575 22,6 L22,15 C22,15.0032706 21.9999948,15.0065399 21.9999843,15.009808 L22.0249378,15 L22.0249378,19.5857864 C22.0249378,20.1380712 21.5772226,20.5857864 21.0249378,20.5857864 C20.7597213,20.5857864 20.5053674,20.4804296 20.317831,20.2928932 L18.0249378,18 L12.9835977,18 C12.7263047,14.0909841 9.47412135,11 5.5,11 C4.23590829,11 3.04485894,11.3127315 2,11.8650466 Z M6,7 C5.44771525,7 5,7.44771525 5,8 C5,8.55228475 5.44771525,9 6,9 L15,9 C15.5522847,9 16,8.55228475 16,8 C16,7.44771525 15.5522847,7 15,7 L6,7 Z"
                          fill="#000000"></path>
                      </g>
                    </svg>
                    <!-- end::Svg Icon -->
                  </span>
                  <h3 class="wizard-title">
                    Details Intervention
                  </h3>
                </div>
                <span class="svg-icon svg-icon-xl wizard-arrow">
                  <!-- begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg -->
                  <svg xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="24px"
                    height="24px"
                    viewBox="0 0 24 24"
                    version="1.1">
                    <g stroke="none"
                      stroke-width="1"
                      fill="none"
                      fill-rule="evenodd">
                      <polygon points="0 0 24 0 24 24 0 24"></polygon>
                      <rect fill="#000000"
                        opacity="0.3"
                        transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000) "
                        x="11"
                        y="5"
                        width="2"
                        height="14"
                        rx="1"></rect>
                      <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z"
                        fill="#000000"
                        fill-rule="nonzero"
                        transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997) "></path>
                    </g>
                  </svg>
                  <!-- end::Svg Icon -->
                </span>
              </div>
              <div class="wizard-step"
                data-wizard-type="step"
                data-wizard-state="pending">
                <div class="wizard-label">
                  <span class="svg-icon svg-icon-4x wizard-icon">
                    <!-- begin::Svg Icon | path:assets/media/svg/icons/Devices/Display1.svg -->
                    <svg xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="24px"
                      height="24px"
                      viewBox="0 0 24 24"
                      version="1.1">
                      <g stroke="none"
                        stroke-width="1"
                        fill="none"
                        fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24"></rect>
                        <path d="M11,20 L11,17 C11,16.4477153 11.4477153,16 12,16 C12.5522847,16 13,16.4477153 13,17 L13,20 L15.5,20 C15.7761424,20 16,20.2238576 16,20.5 C16,20.7761424 15.7761424,21 15.5,21 L8.5,21 C8.22385763,21 8,20.7761424 8,20.5 C8,20.2238576 8.22385763,20 8.5,20 L11,20 Z"
                          fill="#000000"
                          opacity="0.3"></path>
                        <path d="M3,5 L21,5 C21.5522847,5 22,5.44771525 22,6 L22,16 C22,16.5522847 21.5522847,17 21,17 L3,17 C2.44771525,17 2,16.5522847 2,16 L2,6 C2,5.44771525 2.44771525,5 3,5 Z M4.5,8 C4.22385763,8 4,8.22385763 4,8.5 C4,8.77614237 4.22385763,9 4.5,9 L13.5,9 C13.7761424,9 14,8.77614237 14,8.5 C14,8.22385763 13.7761424,8 13.5,8 L4.5,8 Z M4.5,10 C4.22385763,10 4,10.2238576 4,10.5 C4,10.7761424 4.22385763,11 4.5,11 L7.5,11 C7.77614237,11 8,10.7761424 8,10.5 C8,10.2238576 7.77614237,10 7.5,10 L4.5,10 Z"
                          fill="#000000"></path>
                      </g>
                    </svg>
                    <!-- end::Svg Icon -->
                  </span>
                  <h3 class="wizard-title">
                    Paramètres de Localisation
                  </h3>
                </div>
                <span class="svg-icon svg-icon-xl wizard-arrow">
                  <!-- begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg -->
                  <svg xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="24px"
                    height="24px"
                    viewBox="0 0 24 24"
                    version="1.1">
                    <g stroke="none"
                      stroke-width="1"
                      fill="none"
                      fill-rule="evenodd">
                      <polygon points="0 0 24 0 24 24 0 24"></polygon>
                      <rect fill="#000000"
                        opacity="0.3"
                        transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000) "
                        x="11"
                        y="5"
                        width="2"
                        height="14"
                        rx="1"></rect>
                      <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z"
                        fill="#000000"
                        fill-rule="nonzero"
                        transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997) "></path>
                    </g>
                  </svg>
                  <!-- end::Svg Icon -->
                </span>
              </div>
              <div class="wizard-step"
                data-wizard-type="step"
                data-wizard-state="pending">
                <div class="wizard-label">
                  <span class="svg-icon svg-icon-4x wizard-icon">
                    <!-- begin::Svg Icon | path:assets/media/svg/icons/Home/Globe.svg -->
                    <svg xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="24px"
                      height="24px"
                      viewBox="0 0 24 24"
                      version="1.1">
                      <g stroke="none"
                        stroke-width="1"
                        fill="none"
                        fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24"></rect>
                        <path d="M13,18.9450712 L13,20 L14,20 C15.1045695,20 16,20.8954305 16,22 L8,22 C8,20.8954305 8.8954305,20 10,20 L11,20 L11,18.9448245 C9.02872877,18.7261967 7.20827378,17.866394 5.79372555,16.5182701 L4.73856106,17.6741866 C4.36621808,18.0820826 3.73370941,18.110904 3.32581341,17.7385611 C2.9179174,17.3662181 2.88909597,16.7337094 3.26143894,16.3258134 L5.04940685,14.367122 C5.46150313,13.9156769 6.17860937,13.9363085 6.56406875,14.4106998 C7.88623094,16.037907 9.86320756,17 12,17 C15.8659932,17 19,13.8659932 19,10 C19,7.73468744 17.9175842,5.65198725 16.1214335,4.34123851 C15.6753081,4.01567657 15.5775721,3.39010038 15.903134,2.94397499 C16.228696,2.49784959 16.8542722,2.4001136 17.3003976,2.72567554 C19.6071362,4.40902808 21,7.08906798 21,10 C21,14.6325537 17.4999505,18.4476269 13,18.9450712 Z"
                          fill="#000000"
                          fill-rule="nonzero"></path>
                        <circle fill="#000000"
                          opacity="0.3"
                          cx="12"
                          cy="10"
                          r="6"></circle>
                      </g>
                    </svg>
                    <!-- end::Svg Icon -->
                  </span>
                  <h3 class="wizard-title">
                    Informations du Demandeur 
                  </h3>
                </div>
                <span class="svg-icon svg-icon-xl wizard-arrow">
                  <!-- begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg -->
                  <svg xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="24px"
                    height="24px"
                    viewBox="0 0 24 24"
                    version="1.1">
                    <g stroke="none"
                      stroke-width="1"
                      fill="none"
                      fill-rule="evenodd">
                      <polygon points="0 0 24 0 24 24 0 24"></polygon>
                      <rect fill="#000000"
                        opacity="0.3"
                        transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000) "
                        x="11"
                        y="5"
                        width="2"
                        height="14"
                        rx="1"></rect>
                      <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z"
                        fill="#000000"
                        fill-rule="nonzero"
                        transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997) "></path>
                    </g>
                  </svg>
                  <!-- end::Svg Icon -->
                </span>
              </div>
              <div class="wizard-step"
                data-wizard-type="step"
                data-wizard-state="pending">
                <div class="wizard-label">
                  <span class="svg-icon svg-icon-4x wizard-icon">
                    <!-- begin::Svg Icon | path:assets/media/svg/icons/General/Notification2.svg -->
                    <svg xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="24px"
                      height="24px"
                      viewBox="0 0 24 24"
                      version="1.1">
                      <g stroke="none"
                        stroke-width="1"
                        fill="none"
                        fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24"></rect>
                        <path d="M13.2070325,4 C13.0721672,4.47683179 13,4.97998812 13,5.5 C13,8.53756612 15.4624339,11 18.5,11 C19.0200119,11 19.5231682,10.9278328 20,10.7929675 L20,17 C20,18.6568542 18.6568542,20 17,20 L7,20 C5.34314575,20 4,18.6568542 4,17 L4,7 C4,5.34314575 5.34314575,4 7,4 L13.2070325,4 Z"
                          fill="#000000"></path>
                        <circle fill="#000000"
                          opacity="0.3"
                          cx="18.5"
                          cy="5.5"
                          r="2.5"></circle>
                      </g>
                    </svg>
                    <!-- end::Svg Icon -->
                  </span>
                  <h3 class="wizard-title">
                    Verifiez et Soumettez
                  </h3>
                </div>
                <span class="svg-icon svg-icon-xl wizard-arrow last">
                  <!-- begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg -->
                  <svg xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="24px"
                    height="24px"
                    viewBox="0 0 24 24"
                    version="1.1">
                    <g stroke="none"
                      stroke-width="1"
                      fill="none"
                      fill-rule="evenodd">
                      <polygon points="0 0 24 0 24 24 0 24"></polygon>
                      <rect fill="#000000"
                        opacity="0.3"
                        transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000) "
                        x="11"
                        y="5"
                        width="2"
                        height="14"
                        rx="1"></rect>
                      <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z"
                        fill="#000000"
                        fill-rule="nonzero"
                        transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997) "></path>
                    </g>
                  </svg>
                  <!-- end::Svg Icon -->
                </span>
              </div>
            </div>
          </div>
          <!-- end::Wizard Nav -->
        </div>
        <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
          <div class="col-xl-12 col-xxl-7">
            <!-- begin::Form Wizard -->
              <!-- begin::Step 1 -->
              <div class="pb-5"
                data-wizard-type="step-content"
                data-wizard-state="current">
                <h3 class="mb-10 font-weight-bold text-dark">
                  Details interventions:
                </h3>
                <div class="row">
                  <div class="col-xl-12">
                    <div class="form-group row fv-plugins-icon-container">
                      <label class="col-xl-3 col-lg-3 col-form-label">
                        Titre
                      </label>
                      <div class="col-lg-9 col-xl-9">
					              {{ form_widget(form.Titre,{'attr':{'class':'form-control form-control-lg form-control-solid','placeholder':''}}) }}
						            {{ form_row(form._token) }}
                        <div class="fv-plugins-message-container"></div>
                      </div>
                    </div>
                    <div class="form-group row fv-plugins-icon-container">
                      <label class="col-xl-3 col-lg-3 col-form-label">
                       Description
                      </label>
                      <div class="col-lg-9 col-xl-9">
					              {{ form_widget(form.Description,{'attr':{'class':'form-control form-control-lg form-control-solid','placeholder':''}}) }}
                        <div class="fv-plugins-message-container"></div>
                      </div>
                    </div>
                    <div class="form-group row fv-plugins-icon-container">
                      <label class="col-xl-3 col-lg-3 col-form-label">
                        client
                      </label>
                      <div class="col-lg-9 col-xl-9">
                         {{ form_widget(form.client,{'attr':{'class':'form-control form-control-lg form-control-solid','placeholder':''}}) }}
                        <span class="form-text text-muted">
                          Selectionnez le client qui beneficiera de L'Intervention.
                        </span>
                        <div class="fv-plugins-message-container"></div>
                      </div>
                    </div>
                     <div class="form-group row fv-plugins-icon-container">
                      <label class="col-xl-3 col-lg-3 col-form-label">
                        Admin chargé
                      </label>
                      <div class="col-lg-9 col-xl-9">
                         {{ form_widget(form.admin,{'attr':{'class':'form-control form-control-lg form-control-solid','placeholder':''}}) }}
                        <span class="form-text text-muted">
                          choisissez l'admin chargé de l'intervention.
                        </span>
                        <div class="fv-plugins-message-container"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end::Step 1 -->

              <!-- begin::Step 2 -->
            	{% include 'GestionDesInterventions/Components/AjouterInterventionMap.html.twig'%}
              <!-- end::Step 2 -->

              <!-- begin::Step 3 -->
              <div class="pb-5" data-wizard-type="step-content">
                <h4 class="mb-10 font-weight-bold">Verifier Les informations</h4>
                <h6 class="font-weight-bold mb-3">
                  informations du demandeur:
                </h6>
                {# <table class="w-100">
                  <tbody><tr>
                    <td class="font-weight-bold text-muted">Nom du demandeur:</td>
                    <td class="font-weight-bold text-right">{{ app.user.Nom }}</td>
                  </tr>
                  <tr>
                    <td class="font-weight-bold text-muted">Telephone:</td>
                    <td class="font-weight-bold text-right">{{ app.user.Telephone}}</td>
                  </tr>
                  <tr>
                    <td class="font-weight-bold text-muted">Email:</td>
                    <td class="font-weight-bold text-right">{{ app.user.email }}</td>
                  </tr>
                </tbody></table> #}
              </div>
              <!-- end::Step 3 -->

              <!-- begin::Step 4 -->
              <div class="pb-5" data-wizard-type="step-content">
                <div class="alert alert-custom alert-success fade show py-4" role="alert">
                  <div class="alert-icon"><i class="flaticon-warning"></i></div>
                  <div class="alert-text font-weight-bold">
                    Toutes Les informations Demandées Ont été remplies.
                    Rendez-vous sur la Page de pour Affecter des Equipements et une Equipe a 
                    L'Intervention.Vous pouvez Sauvegarder ou/et quitter
                  </div>
                  <div class="alert-close">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="la la-close "></i></span>
                    </button>
                  </div>
                </div>
              </div>
              <!-- end::Step 4 -->

              <!-- begin::Actions -->
              <div class="d-flex justify-content-between border-top mt-5 pt-10">
                <div class="mr-2">
                  <button type="button"
                    class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4"
                    data-wizard-type="action-prev">
                    Precedent
                  </button>
                </div>
                <div>
                  <button type="button"
                    class="btn btn-success font-weight-bold text-uppercase px-9 py-4"
                    data-wizard-type="action-submit">
                    Sauvegarder
                  </button>
                  <button type="button"
                    class="btn btn-primary font-weight-bold text-uppercase px-9 py-4"
                    data-wizard-type="action-next">
                    Suivant
                  </button>
                </div>
              </div>
              <!-- end::Actions -->
              <div></div>
              <div></div>
              <div></div>
            </form>
            <!-- end::Form Wizard -->
			{{ form_end(form) }}
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- end::Row -->
{% endblock %}

{% block Scripts %}
  {% include 'admins_dashboard/Components/Scripts.html.twig' %}
  <script src="{{ asset('Admins/Assets/js/pages/widgets.js') }}"></script>
  <script src='{{asset('Admins/Assets/js/pages/custom/projects/add-project.js')}}'></script>
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>
  <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
  <script src="{{
    asset(
      'Clients/Assets/js/pages/custom/projects/add-project.js'
    )
    }}"></script>
  <script src="{{ asset('Geolocation/js/GeolocationForm.js') }}"></script>
  <script src="{{asset('Admins/Assets/js/pages/crud/forms/widgets/select2.js')}}"></script>
{% endblock %}
