<!DOCTYPE html>

<title>Technicien index</title>

{% block body %}
    <h1>Technicien index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreerPar</th>
                <th>CreerLe</th>
                <th>ModifierPar</th>
                <th>ModifierLe</th>
                <th>Enable</th>
                <th>SupprimerPar</th>
                <th>SupprimerLe</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Age</th>
                <th>Sexe</th>
                <th>Telephone</th>
                <th>Adresse</th>
                <th>Email</th>
                <th>MotDePasse</th>
                <th>Roles</th>
                <th>Fonction</th>
                <th>Statut</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for technicien in techniciens %}
            <tr>
                <td>{{ technicien.id }}</td>
                <td>{{ technicien.CreerPar }}</td>
                <td>{{ technicien.CreerLe ? technicien.CreerLe|date('Y-m-d') : '' }}</td>
                <td>{{ technicien.ModifierPar }}</td>
                <td>{{ technicien.ModifierLe ? technicien.ModifierLe|date('Y-m-d') : '' }}</td>
                <td>{{ technicien.Enable ? 'Yes' : 'No' }}</td>
                <td>{{ technicien.SupprimerPar }}</td>
                <td>{{ technicien.SupprimerLe ? technicien.SupprimerLe|date('Y-m-d') : '' }}</td>
                <td>{{ technicien.Nom }}</td>
                <td>{{ technicien.Prenom }}</td>
                <td>{{ technicien.Age }}</td>
                <td>{{ technicien.Sexe }}</td>
                <td>{{ technicien.Telephone }}</td>
                <td>{{ technicien.Adresse }}</td>
                <td>{{ technicien.Email }}</td>
                <td>{{ technicien.MotDePasse }}</td>
                <td>{{ technicien.Roles ? technicien.Roles|json_encode : '' }}</td>
                <td>{{ technicien.Fonction }}</td>
                <td>{{ technicien.Statut }}</td>
                <td>{{ technicien.Type }}</td>
                <td>
                    <a href="{{ path('app_technicien_show', {'id': technicien.id}) }}">show</a>
                    <a href="{{ path('app_technicien_edit', {'id': technicien.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="21">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_technicien_new') }}">Create new</a>
{% endblock %}
